<div data-v-42f27458="" class="game-betting">
  <!-- <div data-v-42f27458="" class="tab">
    <div data-v-42f27458="" class="box c-row" id="game-join">
      <div data-v-42f27458="" game="1" class="item c-tc action block-click">
        <div data-v-42f27458="" class="circular c-row c-row-middle-center c-tc"><span data-v-42f27458=""
            class="li">?</span></div>
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/images//images/360_F_331298353_73gUe2q6b36bwaCv1EDAHxbToOlUYZRV.jpg" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/images/3-minutes-timer-stopwatch-countdown-260nw-1676521363.png" class="van-image__img"></div><i
            data-v-42f27458="" class="triangle"></i>
        </div>
        <div data-v-42f27458="" class="txt c-tc">1 min</div>
      </div>
      <div data-v-42f27458="" game="3" class="item c-tc">
        <div data-v-42f27458="" class="circular c-row c-row-middle-center c-tc"><span data-v-42f27458=""
            class="li">?</span></div>
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/images//images/360_F_331298353_73gUe2q6b36bwaCv1EDAHxbToOlUYZRV.jpg" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/images/3-minutes-timer-stopwatch-countdown-260nw-1676521363.png" class="van-image__img"></div><i
            data-v-42f27458="" class="triangle"></i>
        </div>
        <div data-v-42f27458="" class="txt c-tc">3 min</div>
      </div>
      <div data-v-42f27458="" game="5" class="item c-tc">
        <div data-v-42f27458="" class="circular c-row c-row-middle-center c-tc"><span data-v-42f27458=""
            class="li">?</span></div>
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/images//images/360_F_331298353_73gUe2q6b36bwaCv1EDAHxbToOlUYZRV.jpg" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/images/d88438c4f4c8e18410e7d163613fd655.png" class="van-image__img"></div><i data-v-42f27458=""
            class="triangle"></i>
        </div>
        <div data-v-42f27458="" class="txt c-tc">5 min</div>
      </div>
      <div data-v-42f27458="" game="10" class="item c-tc">
        <div data-v-42f27458="" class="circular c-row c-row-middle-center c-tc"><span data-v-42f27458=""
            class="li">?</span></div>
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/images//images/360_F_331298353_73gUe2q6b36bwaCv1EDAHxbToOlUYZRV.jpg" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/images/3-minutes-timer-stopwatch-countdown-260nw-1676521363.png" class="van-image__img"></div><i
            data-v-42f27458="" class="triangle"></i>
        </div>
        <div data-v-42f27458="" class="txt c-tc">10 min</div>
      </div>
    </div>
  </div> -->
  <!-- <style>
    .main_tab {
      /* padding: 0px; */
      /* width: 100%; */
      /* background: #fff; */
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 12px;
    }

    .clock_tabs {
      display: flex;
      justify-content: space-between;
      gap: 4px;
      width: 100%;
      padding: 2px 3px;
    }

    .clock_tab {
      background-color: rgb(253 240 208);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 64px;
      gap: 4px;
      border-radius: 12px;
      padding: 0px 15px;
      color: black;
      box-shadow: 1px 0px 12px #00000012;
    }

    .blue {
      background-color: rgb(227 236 251);
    }

    .red {
      background-color: rgb(255 238 244);
    }

    .green {
      background-color: rgb(210 243 250);
    }

    * {
      box-sizing: border-box;
    }

    .clock_tab img {
      width: 38px;
    }

    .clock_tab .text {
      font-weight: 600;
      font-size: 11px;
    }
  </style>
  <div data-v-a9660e98="" class="main_tab">
    <div data-v-a9660e98="" class="clock_tabs">
      <div data-v-a9660e98="" class="clock_tab" onclick="location.href='/5d?game_type=1'">
        <img data-v-a9660e98="" src="/games_assets/clock_1.png" />
        <p data-v-a9660e98="" class="text">
          <span>1MIN</span>
        </p>
      </div>
      <div data-v-a9660e98="" class="clock_tab blue" onclick="location.href='/5d?game_type=3'">
        <img data-v-a9660e98="" src="/games_assets/clock_3.png" />
        <p data-v-a9660e98="" class="text">
          <span>3MIN</span>
        </p>
      </div>
      <div data-v-a9660e98="" class="clock_tab red" onclick="location.href='/5d?game_type=5'">
        <img data-v-a9660e98="" src="/games_assets/clock_5.png" />
        <p data-v-a9660e98="" class="text">
          <span>5MIN</span>
        </p>
      </div>
      <div data-v-a9660e98="" class="clock_tab green" onclick="location.href='/5d?game_type=10'">
        <img data-v-a9660e98="" src="/games_assets/clock_10.png" />
        <p data-v-a9660e98="" class="text">
          <span>10MIN</span>
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div data-v-b108ab4b="" data-v-40958d9a="" class="GameList__C">
    <div data-v-b108ab4b="" class="GameList__C-item min_t_1" onclick="location.href='/5d/?game_type=1'">
      <div data-v-b108ab4b="">5d 1Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_3" onclick="location.href='/5d/?game_type=3'">
      <div data-v-b108ab4b="">5d 3Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_5" onclick="location.href='/5d/?game_type=5'">
      <div data-v-b108ab4b="">5d 5Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_10" onclick="location.href='/5d/?game_type=10'">
      <div data-v-b108ab4b="">5d 10Min</div>
    </div>
  </div> -->

  <div data-v-17d56002="" data-v-4f526022="" class="GameList__C">
    <div data-v-17d56002="" class="GameList__C-item min_t_1" onclick="location.href='/5d/?game_type=1'">
      <div data-v-17d56002="">5D Lotre<br>1Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item min_t_3" onclick="location.href='/5d/?game_type=3'">
      <div data-v-17d56002="">5D Lotre<br>3Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item min_t_5" onclick="location.href='/5d/?game_type=5'">
      <div data-v-17d56002="">5D Lotre<br>5Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item min_t_10" onclick="location.href='/5d/?game_type=10'">
      <div data-v-17d56002="">5D Lotre<br>10Min</div>
    </div>
  </div>

  <script>
    let selectedPageTime = Number(new URLSearchParams(window.location.search).get('game_type'))
    console.log(selectedPageTime)
    switch (selectedPageTime) {
      case 1:
        document.querySelector(".min_t_1").classList.add("active")
        break;
      case 3:
        document.querySelector(".min_t_3").classList.add("active")
        break;
      case 5:
        document.querySelector(".min_t_5").classList.add("active")
        break;
      case 10:
        document.querySelector(".min_t_10").classList.add("active")
        break;
      default:
        document.querySelector(".min_t_1").classList.add("active")
        break;
    }

  </script>



  <div data-v-42f27458="" class="content">
    <div data-v-42f27458="" class="page-box">
      <div data-v-42f27458="" class="last-round flex-row-between flex-center"><span data-v-42f27458="">Lottery Result
        </span>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">A</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">B</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">C</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">D</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">E</div>
        </div>
        <div data-v-42f27458="">=</div>
        <div data-v-42f27458="" class="round-num red">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item" id="total_r">0</div>
          </div>
        </div>
      </div>
      <!-- <div data-v-42f27458="" class="flex-row-between period-title"><span data-v-42f27458=""> Draw</span><span
          data-v-42f27458=""> Left Time</span></div>
      <div data-v-42f27458="" class="flex-row-between flex-center period-span"><span data-v-42f27458=""
          id="period">0</span>
        <div data-v-42f27458="" class="flex-row-end">
          <div data-v-42f27458="" class="li-item">0</div>
          <div data-v-42f27458="" class="li-item">0</div><span data-v-42f27458="" class="li-symbol">:</span>
          <div data-v-42f27458="" class="li-item">0</div>
          <div data-v-42f27458="" class="li-item">0</div>
        </div>
      </div> -->
      <!-- <div data-v-a9660e98="" class="time-box c-row c-row-between m-b-10">
        <div data-v-a9660e98="" class="info">
          <div data-v-a9660e98="" class="txt one_min_t" id="game_type_status">1 MIN</div>
          <div data-v-a9660e98="" class="number" id="period">Loading...</div>
        </div>
        <div data-v-a9660e98="" class="out">
          <div data-v-a9660e98="" class="txt">Time Left</div>
          <div data-v-a9660e98="" class="number c-row c-row-middle c-flew-end">
            <div data-v-a9660e98="" class="item count_down_d">0</div>
            <div data-v-a9660e98="" class="item count_down_d">0</div>
            <div data-v-a9660e98="" class="item c-row c-row-middle">:</div>
            <div data-v-a9660e98="" class="item count_down_d">0</div>
            <div data-v-a9660e98="" class="item count_down_d">0</div>
          </div>
        </div>
      </div> -->

      <div data-v-50bb39bb="" class="FDTL__C">
        <div data-v-50bb39bb="" class="FDTL__C-l1">
          <div data-v-50bb39bb="" class="left">
            <div data-v-50bb39bb="">Period</div>
            <div data-v-50bb39bb="" class="FDTL__C-rule">How to play</div>
          </div>
          <div data-v-50bb39bb="">Time remaining</div>
        </div>
        <div data-v-50bb39bb="" class="FDTL__C-l2">
          <div data-v-50bb39bb="" id="period">20240524051320</div>
          <div data-v-50bb39bb="" class="FDTL__C-time">
            <div data-v-50bb39bb="" class="count_down_d">0</div>
            <div data-v-50bb39bb="" class="count_down_d">0</div>
            <div data-v-50bb39bb="" notime="">:</div>
            <div data-v-50bb39bb="" class="count_down_d">0</div>
            <div data-v-50bb39bb="" class="count_down_d">1</div>
          </div>
        </div>
      </div>
    </div>
    <div data-v-42f27458="" style="text-align: center;margin-top: -15px;">
      <div data-v-42f27458="" class="slot-inner">
        <div data-v-42f27458="" class="d5-slot-box">
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform0">
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="2" class="slot-num">2</div>
              <div data-v-42f27458="" num="3" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform1">
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="0" class="slot-num">0</div>
              <div data-v-42f27458="" num="9" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform2">
              <div data-v-42f27458="" num="4" class="slot-num">4</div>
              <div data-v-42f27458="" num="5" class="slot-num">5</div>
              <div data-v-42f27458="" num="6" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform3">
              <div data-v-42f27458="" num="6" class="slot-num">6</div>
              <div data-v-42f27458="" num="7" class="slot-num">7</div>
              <div data-v-42f27458="" num="8" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform4">
              <div data-v-42f27458="" num="0" class="slot-num">0</div>
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="2" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-v-42f27458="" class="bet-box minH">
      <div data-v-42f27458="" class="mark-box c-row c-row-middle-center" style="display: none;"><span data-v-42f27458=""
          class="item m-r-20">0</span><span data-v-42f27458="" class="item m-l-20">9</span>
      </div>
      <div data-v-42f27458="">
        <div data-v-42f27458="" class="flex-row-start bet-type-group a-b-c-d-e">
          <div data-v-42f27458="" data-join="a" class="d5-bet-type active">A</div>
          <div data-v-42f27458="" data-join="b" class="d5-bet-type">B</div>
          <div data-v-42f27458="" data-join="c" class="d5-bet-type">C</div>
          <div data-v-42f27458="" data-join="d" class="d5-bet-type">D</div>
          <div data-v-42f27458="" data-join="e" class="d5-bet-type">E</div>
          <div data-v-42f27458="" data-join="total" class="d5-bet-type"> SUM </div>
        </div>
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="flex-row-between small-big">
            <div data-v-42f27458="" data-join="active1" join="b" class="bet-type-btn flex-row-between"> Big <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active2" join="s" class="bet-type-btn flex-row-between"> Small <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active3" join="l" class="bet-type-btn flex-row-between">Odd <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active4" join="c" class="bet-type-btn flex-row-between"> Even <span
                data-v-42f27458="">2</span>
            </div>
          </div>
          <div data-v-42f27458="" class="c-row c-flex-warp c-row-center 0-9 select-number-0-9">
            <div data-v-42f27458="" txt="0" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">0 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="1" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">1 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="2" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">2 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="3" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">3 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="4" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">4 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="5" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">5 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="6" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">6 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="7" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">7 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="8" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">8 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="9" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">9 <div data-v-42f27458="">9</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>