
<html lang="en" translate="no" data-dpr="1" style="font-size: 38.32px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="icon" href="/favicon.png">
<meta name="google" content="notranslate">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="manifest">
<title>Dreamchanger</title>
          <script src="./91club_files/jquery-3.6.0.min.js.download"></script>
  <link rel="stylesheet" href="./91club_files/root-a9d5bd50.css">

  <link rel="stylesheet" href="./91club_files/page-home-384125d0.css">



<link rel="stylesheet" href="./91club_files/modules-96f5a6e8.css">

<link rel="stylesheet" href="https://91club.game/assets/css/page-home-684a3a25.css">
<link rel="stylesheet" href="https://91club.game/assets/css/index-08abe1f5.css">
   <link rel="stylesheet" href="./91club_files/chunk-vendors.css">
		<link rel="stylesheet" href="https://91club.game/91club_files/app.css">
		<link rel="stylesheet" href="./91club_files/chunk.css">
		<link rel="stylesheet" href="./91club_files/chunk2.css">
		<link rel="stylesheet" href="./91club_files/custom.css">
		<link rel="stylesheet" href="./91club_files/page-home-5716c41f.css">
		<link rel="stylesheet" href="./91club_files/index-08abe1f5(1).css">
		<link rel="stylesheet" href="./91club_files/page-home-684a3a25(1).css">
		<link rel="stylesheet" href="./91club_files/imp.css">

 <style>

       .ar-lazyload {
       border-radius: 5px solid red


       }
        .lotterySlotItem .lottery h4[data-v-ce53101a] {
            white-space: normal !important;
        }
        .luckyWinners__container-wrapper__item {
            transition: transform 0.5s ease;
        }

        .comming_soon {
            position: fixed !important;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffb235f0;
            width: 250px;
            height: 150px;
            l: 100;
            top: 50%;
            left: 50%;
            border-radius: 20px;
            color: white;
            display: none;
        }
        #app{
            position: relative;
        }
        #preloader-overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: linear-gradient( #ff8c8b , #ffd0ba );
            color: #011341;
            font-size:20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
        #preloader-image {
            width: 200px;
            height: auto;
        }
        #preloader-image img{
            vertical-align: center;

        }

        .customer {
            bottom: 6.4rem !important;
        }
        .container[data-v-83c4928f] {
            max-height: calc(100vh - 11.4rem);
        }
    </style>
</head>
<body style="font-size: 12px;">

<div id="app" data-v-app="">


        <div class="start-page" style="--f13b4d11-currentFontFamily: &quot;Roboto&quot;, &quot;Inter&quot;, sans-serif; display: none;" id="preloader-overlay">
        <img style="margin: -200px 0px 0px 0px ; height:300px;" src="./91club_files/logo.png">
        <div style="height: 50px;"></div>
        <h1 style="font-size: 20px; font-weight: bold;"><b>Withdraw fast, safe and stable</b></h1>
        <div style="height: 50px;"></div>
            <img id="preloader-image" src="./91club_files/h5setting_20230714005938hfia.png">
            <span style="font-size: 40px;
    font-weight: bold;
    margin-top: -125px;"></span>
        </div>










<!----><!----><div data-v-94f8731b="" class="content" style="--36a344b0: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif;"><div data-v-4c21fa9e="" data-v-94f8731b="" class="navbar"><div data-v-4c21fa9e="" class="navbar-fixed" style="background: #05012b;"><div data-v-4c21fa9e="" class="navbar__content"><div data-v-4c21fa9e="" class="navbar__content-left"><img data-v-94f8731b="" onclick="window.location.href=&#39;/#/&#39;;" src="./91club_files/h5setting_20230714005937kuk1.png" alt=""></div><div data-v-4c21fa9e="" class="navbar__content-center"><!----><div data-v-4c21fa9e="" class="navbar__content-title"></div></div><div data-v-4c21fa9e="" class="navbar__content-right"><div data-v-94f8731b="" class="content__right"><div data-v-94f8731b="" class="message"><svg data-v-94f8731b="" onclick="window.location.href=&#39;mailto:&#39;;" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M34 41H14C8 41 4 38 4 31V17C4 10 8 7 14 7H34C40 7 44 10 44 17V31C44 38 40 41 34 41Z" fill="#F95959"></path><path d="M23.9981 25.744C22.3181 25.744 20.6181 25.224 19.3181 24.164L13.0581 19.164C12.767 18.9112 12.5848 18.5558 12.5493 18.1719C12.5139 17.788 12.628 17.4053 12.8679 17.1035C13.1078 16.8017 13.4549 16.6042 13.8369 16.5521C14.2189 16.5 14.6062 16.5974 14.9181 16.824L21.1781 21.824C22.6981 23.044 25.2781 23.044 26.7981 21.824L33.0581 16.824C33.6981 16.304 34.6581 16.404 35.1581 17.064C35.6781 17.704 35.5781 18.664 34.9181 19.164L28.6581 24.164C27.3781 25.224 25.6781 25.744 23.9981 25.744Z" fill="#F95959"></path></svg><div data-v-d6fe61e8="" data-v-94f8731b="" class="point point-flicker point" style="display: ;"></div></div>




<img data-v-94f8731b="" onclick="window.location.href=&#39;/won.apk&#39;;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAm0lEQVR4nO2T3QnDMAyEtURLOtYdeKNmweYhq9R6UTHkpwl2ILVaCM2BQEZwn33IIn+hSLYRiEpaqtRH4O4HwGw+QcinG0AH09L5BMgZ0UIWwkXJx3otNbNFiwJ6C6GRGoiUAHvMsxCgN+BWnO0134KYl/kEAa5KdkMc3XufZlXm2Zd43bwIwRfMR6VI3GI5njT3O/l5/R4gR9ULlt5dJEg8JQ0AAAAASUVORK5CYII=">

</div></div></div></div></div><div data-v-f1a9c278="" data-v-94f8731b="" class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe" style="border-radius:0.26667rem;"><div class="slideshow-container">

<div class="mySlides fade" style="display: block;">
  <img src="/images2/banner6.jpg" style="width:100%;height:100%">
</div>

<div class="mySlides fade" style="display: none;">
  <img src="/images2/banner8.jpg" style="width:100%;height:100%">
</div>

<div class="mySlides fade" style="display: none;">
  <img src="/images2/banner15.jpg" style="width:100%;height:100%">
</div>
<div class="mySlides fade" style="display: none;">
  <img src="/images2/banner2.jpg" style="width:100%;height:100%">
</div>
<div class="mySlides fade" style="display: none;">
  <img src="/images2/banner12.jpg" style="width:100%;height:100%">
</div>

</div>
<br>

<div style="text-align:center;display:none;">
  <span class="dot active"></span>
  <span class="dot"></span>
  <span class="dot"></span> <style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activedot {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
</div><!----><!----><!----></div><div data-v-b4633b52="" data-v-94f8731b="" class="noticeBar__container"><svg data-v-b4633b52="" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_589_37747)"><path d="M15.9993 4V28C11.3327 28 7.86502 21.8927 7.86502 21.8927H3.99935C3.26297 21.8927 2.66602 21.2958 2.66602 20.5594V11.3405C2.66602 10.6041 3.26297 10.0072 3.99935 10.0072H7.86502C7.86502 10.0072 11.3327 4 15.9993 4Z" fill="url(#paint0_linear_589_37747)"></path><path d="M21.334 10C21.7495 10.371 22.1261 10.7865 22.4567 11.2392C23.4265 12.5669 24.0007 14.2149 24.0007 16C24.0007 17.7697 23.4363 19.4045 22.4819 20.7262C22.1452 21.1923 21.7601 21.6195 21.334 22" stroke="url(#paint1_linear_589_37747)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path><path d="M22.8242 27.4571C26.7227 25.1302 29.3336 20.87 29.3336 16C29.3336 11.2057 26.8031 7.00234 23.005 4.65271" stroke="url(#paint2_linear_589_37747)" stroke-width="1.8" stroke-linecap="round"></path></g><defs><lineargradient id="paint0_linear_589_37747" x1="9.33268" y1="4" x2="9.33268" y2="28" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></lineargradient><lineargradient id="paint1_linear_589_37747" x1="22.6673" y1="10" x2="22.6673" y2="22" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></lineargradient><lineargradient id="paint2_linear_589_37747" x1="26.0789" y1="4.65271" x2="26.0789" y2="27.4571" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></lineargradient><clippath id="clip0_589_37747"><rect width="32" height="32" fill="white"></rect></clippath></defs></svg><div data-v-b4633b52="" class="noticeBar__container-body"><div data-v-b4633b52="" class="noticeBar__container-body-text" style="font-weight:500;">We apologize there is no telegram contact for our customer service, if you need our assistant please go to the website and press customer service menu to get the contact, and for the balance and data account be safe please beware and careful from someone who pro-claimed as 91club customer service. Thank you。</div></div><button data-v-b4633b52=""><svg data-v-b4633b52="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_589_37755)"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"></path><path d="M12 22C16.1173 22 19.4999 18.7371 19.4999 14.5491C19.4999 13.5209 19.4476 12.4187 18.8778 10.7058C18.3079 8.9929 18.1931 8.7718 17.5905 7.71395C17.333 9.8727 15.9555 10.7724 15.6055 11.0413C15.6055 10.7615 14.7722 7.66795 13.5088 5.81695C12.2685 4 10.5817 2.80796 9.59265 2C9.59265 3.53489 9.16095 5.81695 8.5427 6.9797C7.92445 8.14245 7.80835 8.1848 7.0361 9.0501C6.2639 9.9154 5.90945 10.1826 5.2637 11.2325C4.61798 12.2825 4.5 13.6809 4.5 14.7091C4.5 18.8971 7.88265 22 12 22Z" fill="white"></path></g><defs><clippath id="clip0_589_37755"><rect width="24" height="24" fill="white"></rect></clippath></defs></svg> Detail</button></div>





<div data-v-6c5117cd="" data-v-94f8731b="" class="gameList">
<div data-v-6c5117cd="" role="tablist" class="van-sidebar mySideBar">



<div data-v-6c5117cd="" role="tab" class="van-sidebar-item  van-sidebar-item--select" onclick="currentButton(0)" tabindex="0" aria-selected="true" id="gameType-lottery"><div class="van-badge__wrapper van-sidebar-item__text"><div data-v-6c5117cd="" onclick="openCity(event, &#39;wingo&#39;)" id="defaultOpen" class="ab wh iteColor active"><div data-v-6c5117cd="" class="tablinks" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010214yxxq.png&quot;);"></div> Lottery</div><!----></div></div>



<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(1)" tabindex="0" aria-selected="false" id="gameType-flash"><div class="van-badge__wrapper van-sidebar-item__text"><div data-v-6c5117cd="" onclick="openCity(event, &#39;Tokyop&#39;)" class="ab "><div class="tablinks" data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010207qmfa.png&quot;);"></div> Mini games</div><!----></div></div>


<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(2)" tabindex="0" aria-selected="false" id="gameType-popular"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;Tokyo&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010159ynyu.png&quot;);"></div> Popular</div><!----></div></div>

<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(3)" tabindex="3" aria-selected="false" id="gameType-slot"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;London&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010153317n.png&quot;);"></div> Slots</div><!----></div></div>

<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(4)" tabindex="0" aria-selected="false" id="gameType-fish"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;Paris&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010147x2cr.png&quot;);"></div> Fishing</div><!----></div></div>



<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(5)" tabindex="0" aria-selected="false" id="gameType-video"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;lottery2&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010141v76m.png&quot;);"></div> Casino</div><!----></div></div>


<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(6)" tabindex="0" aria-selected="false" id="gameType-sport"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;lottery0&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_20230714010123ddo4.png&quot;);"></div> Sports</div><!----></div></div>




<div data-v-6c5117cd="" role="tab" class="van-sidebar-item" onclick="currentButton(7)" tabindex="0" aria-selected="false" id="gameType-sport"><div class="van-badge__wrapper van-sidebar-item__text"><div class="tablinks" onclick="openCity(event, &#39;lottery1&#39;)" data-v-6c5117cd=""><div data-v-6c5117cd="" style="background-image: url(&quot;https://ossimg.91admin123admin.com/91club/gamecategory/gamecategory_202403111415086ujt.png&quot;);"></div> PVC</div><!----></div></div>

</div>


 <div id="Paris" class="tabcontent" style="display: none;">

<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 --><div data-v-860d7030="" data-v-df3cc798="" class="minGame_container">



<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7001&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7001.png" src="./91club_files/7001.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7002&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7002.png" src="./91club_files/7002.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7003&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7003.png" src="./91club_files/7003.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7004&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7004.png" src="./91club_files/7004.png"></div>



<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7005&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7005.png" src="./91club_files/7005.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7006&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7006.png" src="./91club_files/7006.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7007&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JDB/7007.png" src="./91club_files/7007.png"></div>


<div data-v-860d7030="" onclick="openGameById(1)" class="onlineGamesItem"><img data-v-860d7030="" class="fish_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/JILI/1.png" src="./91club_files/1.png"></div></div>


<button onclick="window.location.href=&#39;/jili/fishing&#39;" data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>
</div>






<div id="London" class="tabcontent" style="display: none;">

<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><!--v-if--><!--v-if--><div data-v-54337c48="" data-v-df3cc798="" class="onlineGamesItem__container">


<div data-v-54337c48="" onclick="window.location.href=&#39;/jili/slots&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102165352mtql.png" src="./91club_files/vendorlogo_20240102165352mtql.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div><div data-v-54337c48="" onclick="window.location.href=&#39;/jdb/slots&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_2024010216505212ii.png" src="./91club_files/vendorlogo_2024010216505212ii.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div><div data-v-54337c48="" onclick="window.location.href=&#39;/jdb/original&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_202401021653336o2h.png" src="./91club_files/vendorlogo_202401021653336o2h.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div><div data-v-54337c48="" onclick="window.location.href=&#39;/evo&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102165037ckq2.png" src="./91club_files/vendorlogo_20240102165037ckq2.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div><div data-v-54337c48="" onclick="window.location.href=&#39;/jdb/original&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_202401021635182xwp.png" src="./91club_files/vendorlogo_202401021635182xwp.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div><div data-v-54337c48="" onclick="window.location.href=&#39;/jdb/original&#39;" class="item"><img data-v-54337c48="" class="gameImg" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102163527dtbe.png" src="./91club_files/vendorlogo_20240102163527dtbe.png"><!-- <van-image :src="getIcons(`home/dianzi/onlineSlot`, item.slotsName)" class="slot_img">
				<template v-slot:error>加载失败</template>
			</van-image> --></div></div><!--v-if--><!-- 小游戏、捕鱼 --><!--v-if--><button onclick="window.location.href=&#39;/jili/slots&#39;" data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>
</div>













<div id="Tokyop" class="tabcontent" style="display: none;">

<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 -->



<div data-v-860d7030="" data-v-df3cc798="" class="minGame_container"><div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22001&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/800.png" src="./91club_files/800.png"></div>



<div onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22001&#39;" data-v-860d7030="" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/801.png" src="./91club_files/801.png"></div>


<div onclick="openGameById(235)" data-v-860d7030="" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/110.png" src="./91club_files/110.png"></div>


<div data-v-860d7030="" oinclick="openGameById(233)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22006&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/101.png" src="./91club_files/101.png"></div>


<div oniclick="openGameById(62)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22002&#39;" data-v-860d7030="" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/102.png" src="./91club_files/102.png"></div>


<div oniclick="openGameById(229)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22005&#39;" data-v-860d7030="" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/100.png" src="./91club_files/100.png"></div>


<div onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22009&#39;" data-v-860d7030="" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="https://ossimg.91admin123admin.com/91club/gamelogo/TB_Chess/107.png" src="./91club_files/107.png"></div>


<div data-v-860d7030="" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22007&#39;" class="onlineGamesItem"><img data-v-860d7030="" class="min_game_img" data-origin="/jdb_images/22007_200x200_en.png" src="./91club_files/22007_200x200_en.png"></div></div>



<button data-v-df3cc798="" onclick="window.location.href=&#39;/jdb/original&#39;" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>

</div>








<div id="Tokyo" class="tabcontent" style="display: none;">
<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><div data-v-d06787cb="" data-v-df3cc798="" class="hot_container"><div data-v-d06787cb="" class="platform"><div data-v-d06787cb="" class="title"><svg data-v-d06787cb="" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="gameRec"><path d="M23.6259 7.87715L25.7577 12.1408C26.045 12.7304 26.8161 13.2898 27.4662 13.4108L31.3216 14.0458C33.786 14.454 34.3606 16.2381 32.5916 18.0222L29.5829 21.0309C29.0839 21.5298 28.7967 22.5126 28.963 23.2232L29.8248 26.9425C30.5052 29.8757 28.9328 31.0247 26.3474 29.4826L22.7339 27.3356C22.0837 26.9425 20.9951 26.9425 20.345 27.3356L16.7315 29.4826C14.1461 31.0096 12.5737 29.8757 13.2541 26.9425L14.1159 23.2232C14.2822 22.5277 13.9949 21.545 13.496 21.0309L10.4872 18.0222C8.71829 16.2532 9.29282 14.4691 11.7573 14.0458L15.6127 13.4108C16.2628 13.305 17.0339 12.7304 17.3212 12.1408L19.453 7.87715C20.5869 5.5639 22.4617 5.5639 23.6259 7.87715Z" fill="#FE6868"></path><path d="M12.4531 8.69355H3.3815C2.76161 8.69355 2.24756 8.17949 2.24756 7.5596C2.24756 6.93971 2.76161 6.42566 3.3815 6.42566H12.4531C13.073 6.42566 13.587 6.93971 13.587 7.5596C13.587 8.17949 13.073 8.69355 12.4531 8.69355ZM7.91728 29.8605H3.3815C2.76161 29.8605 2.24756 29.3465 2.24756 28.7266C2.24756 28.1067 2.76161 27.5926 3.3815 27.5926H7.91728C8.53717 27.5926 9.05123 28.1067 9.05123 28.7266C9.05123 29.3465 8.53717 29.8605 7.91728 29.8605ZM4.89343 19.277H3.3815C2.76161 19.277 2.24756 18.763 2.24756 18.1431C2.24756 17.5232 2.76161 17.0091 3.3815 17.0091H4.89343C5.51332 17.0091 6.02738 17.5232 6.02738 18.1431C6.02738 18.763 5.51332 19.277 4.89343 19.277Z" fill="#FE6868"></path></svg><span data-v-d06787cb="">Platform recommendation</span></div><div data-v-d06787cb="" class="list"><div data-v-d06787cb="">




<div oniclick="openGameById(not)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22001&#39;" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/800.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">89.07%</span><div data-v-d06787cb="" class="win-p" style="width: 89.07%;"></div></div></div>


<div data-v-d06787cb=""><div oniclick="openGameById(233)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22006&#39;" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/101.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">86.8%</span><div data-v-d06787cb="" class="win-p" style="width: 86.8%;"></div></div></div>

<div data-v-d06787cb=""><div oniclick="openGameById(62)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22002&#39;" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/102.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">85.36%</span><div data-v-d06787cb="" class="win-p" style="width: 85.36%;"></div></div></div><div data-v-d06787cb=""><div oniclick="openGameById(229)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22005&#39;" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/100.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">84.34%</span><div data-v-d06787cb="" class="win-p" style="width: 84.34%;"></div></div></div><div data-v-d06787cb=""><div oniclick="openGameById(241)" onclick="window.location.href=&#39;/jdb/launch?g_type=22&amp;m_type=22007&#39;" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/106.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">89.73%</span><div data-v-d06787cb="" class="win-p" style="width: 89.73%;"></div></div></div><div data-v-d06787cb=""><div onclick="openGameById(178)" data-v-d06787cb="" class="item"><svg data-v-d06787cb="" width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="hot_bage"><path d="M8.00798 5.79803C3.77459 9.42666 1.96027 13.3578 1.20431 15.6256C0.0703725 19.0272 0.328033 26.4667 5.36212 31.5009C12.5438 38.6826 22.3713 36.0367 26.1511 33.3907C31.144 29.8955 39.3805 18.6494 34.4667 23.1852C32.8472 24.6801 31.6436 24.1183 32.9548 22.8072C34.2659 21.4961 35.2227 20.9173 36.7346 18.6494C38.7544 15.6198 38.8765 12.0977 38.2465 10.3338C37.8685 10.8378 36.5834 12.1481 34.4667 13.3577C32.35 14.5672 30.3089 13.3577 29.5529 12.6017C30.3089 12.6017 32.9548 12.0725 35.9786 8.4439C39.7584 3.90812 39.3805 0.128418 39.3805 0.128418C39.3805 0.128418 37.4906 2.01822 33.3328 3.15216C29.175 4.28611 26.9071 2.77429 22.3713 2.77429C17.8355 2.77429 14.8116 5.79803 15.1896 4.28611C15.492 3.07656 17.5835 1.51424 18.5915 0.884272C16.8276 1.01027 12.2414 2.16941 8.00798 5.79803Z" fill="url(#paint0_linear_597_39012)"></path><path d="M3.8208 25V15.5455H6.38756V19.2386H9.78529V15.5455H12.3521V25H9.78529V21.3068H6.38756V25H3.8208ZM22.7299 20.2727C22.7299 21.3253 22.5252 22.2132 22.1159 22.9364C21.7066 23.6566 21.1541 24.2029 20.4586 24.5753C19.763 24.9446 18.9875 25.1293 18.1319 25.1293C17.2701 25.1293 16.4915 24.9431 15.7959 24.5707C15.1035 24.1952 14.5526 23.6474 14.1432 22.9272C13.737 22.204 13.5339 21.3191 13.5339 20.2727C13.5339 19.2202 13.737 18.3338 14.1432 17.6136C14.5526 16.8904 15.1035 16.3441 15.7959 15.9748C16.4915 15.6024 17.2701 15.4162 18.1319 15.4162C18.9875 15.4162 19.763 15.6024 20.4586 15.9748C21.1541 16.3441 21.7066 16.8904 22.1159 17.6136C22.5252 18.3338 22.7299 19.2202 22.7299 20.2727ZM20.0893 20.2727C20.0893 19.7064 20.0139 19.2294 19.8631 18.8416C19.7153 18.4508 19.4953 18.1553 19.2029 17.9553C18.9136 17.7521 18.5566 17.6506 18.1319 17.6506C17.7072 17.6506 17.3486 17.7521 17.0562 17.9553C16.7669 18.1553 16.5469 18.4508 16.3961 18.8416C16.2484 19.2294 16.1745 19.7064 16.1745 20.2727C16.1745 20.839 16.2484 21.3176 16.3961 21.7085C16.5469 22.0962 16.7669 22.3917 17.0562 22.5948C17.3486 22.7949 17.7072 22.8949 18.1319 22.8949C18.5566 22.8949 18.9136 22.7949 19.2029 22.5948C19.4953 22.3917 19.7153 22.0962 19.8631 21.7085C20.0139 21.3176 20.0893 20.839 20.0893 20.2727ZM23.2146 17.6136V15.5455H31.432V17.6136H28.5882V25H26.0584V17.6136H23.2146Z" fill="url(#paint1_linear_597_39012)"></path><defs><lineargradient id="paint0_linear_597_39012" x1="20.0209" y1="0.128418" x2="20.0209" y2="36.1366" gradientUnits="userSpaceOnUse"><stop stop-color="#FE6868"></stop><stop offset="1" stop-color="#CF0405"></stop></lineargradient><lineargradient id="paint1_linear_597_39012" x1="17.5" y1="13" x2="17.5" y2="27" gradientUnits="userSpaceOnUse"><stop stop-color="white"></stop><stop offset="1" stop-color="#FFE081"></stop></lineargradient></defs></svg><img data-v-d06787cb="" src="./91club_files/105.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">90.77%</span><div data-v-d06787cb="" class="win-p" style="width: 90.77%;"></div></div></div></div></div><div data-v-d06787cb="" class="popular"><div data-v-d06787cb="" class="title"><svg data-v-d06787cb="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="hotGames"><g clip-path="url(#clip0_589_37755)"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"></path><path d="M12 22C16.1173 22 19.4999 18.7371 19.4999 14.5491C19.4999 13.5209 19.4476 12.4187 18.8778 10.7058C18.3079 8.9929 18.1931 8.7718 17.5905 7.71395C17.333 9.8727 15.9555 10.7724 15.6055 11.0413C15.6055 10.7615 14.7722 7.66795 13.5088 5.81695C12.2685 4 10.5817 2.80796 9.59265 2C9.59265 3.53489 9.16095 5.81695 8.5427 6.9797C7.92445 8.14245 7.80835 8.1848 7.0361 9.0501C6.2639 9.9154 5.90945 10.1826 5.2637 11.2325C4.61798 12.2825 4.5 13.6809 4.5 14.7091C4.5 18.8971 7.88265 22 12 22Z" fill="white"></path></g><defs><clippath id="clip0_589_37755"><rect width="24" height="24" fill="white"></rect></clippath></defs></svg><span data-v-d06787cb="">Popular</span></div><div data-v-d06787cb="" class="list"><div data-v-d06787cb="">




<div data-v-d06787cb="" onclick="openGameById(51)" class="item"><img data-v-d06787cb="" src="./91club_files/51.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">88.87%</span><div data-v-d06787cb="" class="win-p" style="width: 88.87%;"></div></div></div>



<div data-v-d06787cb=""><div data-v-d06787cb="" onclick="openGameById(109)" class="item"><img data-v-d06787cb="" src="./91club_files/109.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">87.92%</span><div data-v-d06787cb="" class="win-p" style="width: 87.92%;"></div></div></div><div data-v-d06787cb="">



<div data-v-d06787cb="" onclick="openGameById(236)" class="item"><img data-v-d06787cb="" src="./91club_files/grandwheel000000.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">91.4%</span><div data-v-d06787cb="" class="win-p" style="width: 91.4%;"></div></div></div><div data-v-d06787cb="">

<div data-v-d06787cb="" oniclick="openGameById(not)" onclick="window.location.href=&#39;/jdb/launch?g_type=7&amp;m_type=7001&#39;" class="item"><img data-v-d06787cb="" src="./91club_files/7001.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">87.21%</span><div data-v-d06787cb="" class="win-p" style="width: 87.21%;"></div></div></div>


<div data-v-d06787cb=""><div data-v-d06787cb="" onclick="openGameById(35)" class="item"><img data-v-d06787cb="" src="./91club_files/27.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">88.54%</span><div data-v-d06787cb="" class="win-p" style="width: 88.54%;"></div></div></div><div data-v-d06787cb="">



<div data-v-d06787cb="" onclick="openGameById(47)" class="item"><img data-v-d06787cb="" src="./91club_files/47.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">88.73%</span><div data-v-d06787cb="" class="win-p" style="width: 88.73%;"></div></div></div><div data-v-d06787cb="">



<div data-v-d06787cb="" onclick="openGameById(1)" class="item"><img data-v-d06787cb="" src="./91club_files/1.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">88.42%</span><div data-v-d06787cb="" class="win-p" style="width: 88.42%;"></div></div></div><div data-v-d06787cb=""><div onclick="openGameById(47)" data-v-d06787cb="" class="item"><img data-v-d06787cb="" src="./91club_files/35.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">92.62%</span><div data-v-d06787cb="" class="win-p" style="width: 92.62%;"></div></div></div><div data-v-d06787cb=""><div data-v-d06787cb="" onclick="openGameById(47)" class="item"><img data-v-d06787cb="" src="./91club_files/777strike0000000.png" alt="" data-img="http://91club06.com/assets/png/avatar-2f23f3bd.png"></div><div data-v-d06787cb="" class="win-odds"><span data-v-d06787cb="">odds of winning</span><span data-v-d06787cb="">88.65%</span><div data-v-d06787cb="" class="win-p" style="width: 88.65%;"></div></div></div></div></div></div><!--v-if--><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 --><!--v-if--><button onclick="window.location.href=&#39;/jdb/popular&#39;" data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>

</div>





<div id="lottery1" class="tabcontent" style="display: none;">
<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><div data-v-df3cc798="" class="otherGame"><div data-v-1153e4fd="" data-v-df3cc798="" class="lotterySlotItem__container"><div data-v-1153e4fd="" class="title"><div data-v-1153e4fd="" class="tit">Rummy</div><!-- <div class="desc">{{ getArrayKey(rootConfig.gameAllName, info.slotsTypeID) }}</div> --></div><img data-v-1153e4fd="" class="game_img" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102164947dvuc.png" src="./91club_files/vendorlogo_20240102164947dvuc.png"></div></div><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 --><!--v-if--><button data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>
</div>



<div id="lottery2" class="tabcontent" style="display: none;">


<div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><div data-v-df3cc798="" class="otherGame"><div data-v-1153e4fd="" data-v-df3cc798="" class="lotterySlotItem__container"><div data-v-1153e4fd="" class="title"><div data-v-1153e4fd="" class="tit">Casino</div><!-- <div class="desc">{{ getArrayKey(rootConfig.gameAllName, info.slotsTypeID) }}</div> --></div><img data-v-1153e4fd="" class="game_img" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102165020x66i.png" src="./91club_files/vendorlogo_20240102165020x66i.png"></div><div data-v-1153e4fd="" data-v-df3cc798="" class="lotterySlotItem__container"><div data-v-1153e4fd="" class="title"><div data-v-1153e4fd="" class="tit">Casino</div><!-- <div class="desc">{{ getArrayKey(rootConfig.gameAllName, info.slotsTypeID) }}</div> --></div><img data-v-1153e4fd="" class="game_img" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_202401021635413lly.png" src="./91club_files/vendorlogo_202401021635413lly.png"></div><div data-v-1153e4fd="" data-v-df3cc798="" class="lotterySlotItem__container"><div data-v-1153e4fd="" class="title"><div data-v-1153e4fd="" class="tit">Casino</div><!-- <div class="desc">{{ getArrayKey(rootConfig.gameAllName, info.slotsTypeID) }}</div> --></div><img data-v-1153e4fd="" class="game_img" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_202405081133481rmp.png" src="./91club_files/vendorlogo_202405081133481rmp.png"></div></div><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 --><!--v-if--><button data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div>


</div>






<div id="lottery0" class="tabcontent" style="display: none;"><div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><div data-v-df3cc798="" class="otherGame"><div data-v-1153e4fd="" data-v-df3cc798="" class="lotterySlotItem__container"><div data-v-1153e4fd="" class="title"><div data-v-1153e4fd="" class="tit">Sports</div><!-- <div class="desc">{{ getArrayKey(rootConfig.gameAllName, info.slotsTypeID) }}</div> --></div><img data-v-1153e4fd="" class="game_img" data-origin="https://ossimg.91admin123admin.com/91club/vendorlogo/vendorlogo_20240102165536rgfg.png" src="./91club_files/vendorlogo_20240102165536rgfg.png"></div></div><!--v-if--><!--v-if--><!-- 小游戏、捕鱼 --><!--v-if--><button data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div></div>



<div id="wingo" class="tabcontent" style="display: block;"><div data-v-df3cc798="" data-v-c9ec78ed="" class="gameListGrid__container" style=""><!--v-if--><!--v-if--><!--v-if--><div data-v-acaadf81="" data-v-df3cc798="" class="lottery_container"><div data-v-acaadf81="" onclick="location.href=&#39;/wingo/?game_type=1&#39;" class="lotterySlotItem"><img data-v-acaadf81="" class="" data-origin="https://ossimg.91admin123admin.com/91club/lotterycategory/lotterycategory_202307140102511fow.png" src="./91club_files/lotterycategory_202307140102511fow.png"><span data-v-acaadf81="">Win Go</span><h4 data-v-acaadf81=""><div data-v-acaadf81="">Guess Number</div><div data-v-acaadf81="">Green/Red/Purple to win</div></h4></div><div data-v-acaadf81="" onclick="window.location.href=&#39;/k3&#39;" class="lotterySlotItem"><img data-v-acaadf81="" class="" data-origin="https://ossimg.91admin123admin.com/91club/lotterycategory/lotterycategory_20230714010227swu2.png" src="./91club_files/lotterycategory_20230714010227swu2.png"><span data-v-acaadf81="">K3</span><h4 data-v-acaadf81=""><div data-v-acaadf81="">Guess Number</div><div data-v-acaadf81="">Big/Small/Odd/Even</div></h4></div><div data-v-acaadf81="" onclick="window.location.href=&#39;/5D&#39;" class="lotterySlotItem"><img data-v-acaadf81="" class="" data-origin="https://ossimg.91admin123admin.com/91club/lotterycategory/lotterycategory_2023071401023322dy.png" src="./91club_files/lotterycategory_2023071401023322dy.png"><span data-v-acaadf81="">5D</span><h4 data-v-acaadf81=""><div data-v-acaadf81="">Guess Number</div><div data-v-acaadf81="">Big/Small/Odd/Even</div></h4></div><div data-v-acaadf81="" onclick="window.location.href=&#39;/wingo/?game_type=1&#39;" class="lotterySlotItem"><img data-v-acaadf81="" class="" data-origin="https://ossimg.91admin123admin.com/91club/lotterycategory/lotterycategory_20230714010246lyuc.png" src="./91club_files/lotterycategory_20230714010246lyuc.png"><span data-v-acaadf81="">Trx Win</span><h4 data-v-acaadf81=""><div data-v-acaadf81="">Guess Number</div><div data-v-acaadf81="">Green/Red/Purple to win</div></h4></div></div><!-- 小游戏、捕鱼 --><!--v-if--><button onclick="window.location.href=&#39;/jdb/slots&#39;" data-v-df3cc798="" class="look_all"><img data-v-df3cc798="" onclick="window.location.href=&#39;/jili/slots&#39;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAAD5Wlr3WFj6WVn6WFj5V1f6WVn5WVn5WVn4V1f5WVnpXZn/AAAACnRSTlMA72C/v1DP329wWe0twgAAAKNJREFUOMtjoA/gMFwFAkkgdrMUiLlMASyhtQoCGhgYmKDMFWCJLCivgIGBDcpcDpZYBQULGBi4YOwRLlEF5SQwMLBDmcvAErOgPGBYc0KZi8ASTI4g9kIjEFsFHB/CCgyDF7AaIpwbjHAuIvkEIJLPUrCEF5RnwMDAAmUuBktIQXkCDAyMUObCgY9BGkvg9Dn+sIpCJB9WbMnHFCn5BDDQBQAAbjlnhYlIhpEAAAAASUVORK5CYII=" alt=""> View All</button></div></div>





</div>


<div data-v-8672ccbd="" data-v-f5b7f7ac="" style=" margin: 100px 0px 0px 0px;" class="luckyWinners__container">
					<h1 data-v-8672ccbd="">Winning information</h1>
					<div data-v-8672ccbd="" class="luckyWinners__container-wrapper">
						<div data-v-8672ccbd="" id="main_container" style="position: relative;"><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="overflow: hidden; height: 0.0269404px; padding-top: 0.00449115px; margin-top: 0px; padding-bottom: 0.00449115px; margin-bottom: 0.0022455px;">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/3-abfcc056.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***MKE</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_202312150339081ra6.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs80.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/11-925c456e.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***JWV</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_20231215053732l6fa.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs540.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/7-00479cfa.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***QGS</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_20231215033931hy14.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs170.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/14-a397ff6b.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***UUQ</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_20231215053732l6fa.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs600.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/13-5676d43f.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***CQF</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_20231215053732l6fa.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs600.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div><div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item" style="">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img data-v-8672ccbd="" class="ar-lazyload" src="./91club_files/13-5676d43f.png">
								</div>
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
									<h1 data-v-8672ccbd="">Mem***CDM</h1>
								</div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload" src="./91club_files/vendorlogo_20231215034022ak6f.png">
								<div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
									<h1 data-v-8672ccbd="">Receive Rs95.00</h1><span data-v-8672ccbd="">Winning
										amount</span>
								</div>
							</div>






						</div>
					</div>
				</div>





<div data-v-643c1a0c="" data-v-94f8731b="" class="dailyProfitRank">
					<h1 data-v-643c1a0c="">Today's earnings chart</h1>
					<div data-v-643c1a0c="" class="dailyProfitRank__content">
						<div data-v-643c1a0c="" class="dailyProfitRank__content-topThree">
							<div data-v-643c1a0c="" class="dailyProfitRank__content-topThree__item" style="order: 2; top: -45px;">
								<div data-v-643c1a0c="" style="background: url(&quot;https://91club06.com/assets/png/border1-3b6518ec.png&quot;) center center / 100% 100% no-repeat;">
									<img data-v-643c1a0c="" data-img="https://91club06.com/assets/png/avatar-ea3b8ee9.png" class="" src="./91club_files/10-29a6603e.png">
								</div>
								<div data-v-643c1a0c=""><img data-v-643c1a0c="" class="" src="./91club_files/crown1-3912fd85.png"><img data-v-643c1a0c="" class="" src="./91club_files/place1-fe39c3f3.png"></div><span data-v-643c1a0c="">Mem***387</span><span data-v-643c1a0c="">Rs2,853,503.00</span>
							</div>
							<div data-v-643c1a0c="" class="dailyProfitRank__content-topThree__item" style="order: 1; top: -30px;">
								<div data-v-643c1a0c="" style="background: url(&quot;https://91club06.com/assets/png/border2-7a806be7.png&quot;) center center / 100% 100% no-repeat;">
									<img data-v-643c1a0c="" data-img="https://91club06.com/assets/png/5-ab77b716.png" class="" src="./91club_files/5-ab77b716.png">
								</div>
								<div data-v-643c1a0c=""><img data-v-643c1a0c="" class="" src="./91club_files/crown2-c8aced52.png"><img data-v-643c1a0c="" class="" src="./91club_files/place2-8189be28.png"></div><span data-v-643c1a0c="">Mem***566</span><span data-v-643c1a0c="">Rs588,900.00</span>
							</div>
							<div data-v-643c1a0c="" class="dailyProfitRank__content-topThree__item" style="order: 3; top: -30px;">
								<div data-v-643c1a0c="" style="background: url(&quot;https://91club06.com/assets/png/border3-cfec4a7d.png&quot;) center center / 100% 100% no-repeat;">
									<img data-v-643c1a0c="" data-img="https://91club06.com/assets/png/avatar-ea3b8ee9.png" class="" src="./91club_files/8-ea087ede.png">
								</div>
								<div data-v-643c1a0c=""><img data-v-643c1a0c="" class="" src="./91club_files/crown3-2ca02146.png"><img data-v-643c1a0c="" class="" src="./91club_files/place3-d9b0be38.png"></div><span data-v-643c1a0c="">Mem***453</span><span data-v-643c1a0c="">Rs240,438.00</span>
							</div>
						</div>
						<div data-v-643c1a0c="" class="dailyProfitRank__content-list">
							<div data-v-643c1a0c="" class="dailyProfitRank__content-list__item"><span data-v-643c1a0c="" class="left-rank">4</span><img data-v-643c1a0c="" data-img="https://91club06.com/assets/png/avatar-ea3b8ee9.png" class="" src="./91club_files/17-bedde42f.png"><span data-v-643c1a0c="" class="middle-name">Mem***879</span><span data-v-643c1a0c="" class="right-box">Rs895,467.00</span></div>
							<div data-v-643c1a0c="" class="dailyProfitRank__content-list__item"><span data-v-643c1a0c="" class="left-rank">5</span><img data-v-643c1a0c="" data-img="https://91club06.com/assets/png/avatar-ea3b8ee9.png" class="" src="./91club_files/13-5676d43f(1).png"><span data-v-643c1a0c="" class="middle-name">Mem***113</span>
								<span data-v-643c1a0c="" class="right-box">Rs940,928.00</span>
							</div>
						</div>
					</div>
				</div>



<div data-v-0e007999="" data-v-94f8731b="" class="dialog inactive"><div data-v-0e007999="" class="dialog__container" role="dialog" tabindex="0"><div data-v-0e007999="" class="dialog__container-img"><img data-v-0e007999="" alt="" class="" src="./91club_files/superjackpotHome-72bbeb43.png"></div><div data-v-0e007999="" class="dialog__container-title"><h1 data-v-0e007999="">Congratulation</h1></div><div data-v-0e007999="" class="dialog__container-content"><div data-v-94f8731b="" class="Laundry-Con"><div data-v-94f8731b="" class="Laundry-Con_tip">Get 【Super Jackpot】!</div><div data-v-94f8731b="" class="Landty-Con-tips">Visit the [Super Jackpot] page to claim your reward</div></div></div><div data-v-0e007999="" class="dialog__container-footer"><!----><button data-v-0e007999="">OK</button></div></div><div data-v-0e007999="" class="dialog__outside"></div></div></div></div>






<div data-v-67fe8f9c="" class="tabbar__container" style="--36a344b0: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif;"><div data-v-67fe8f9c="" class="tabbar__container-item active" onclick="window.location.href=&#39;/home&#39;">
  <svg data-v-67fe8f9c="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class=""><circle cx="27" cy="28" r="18" fill="#FFFFFF4F4"></circle><path fill="#FFCDCB" fill-rule="evenodd" d="m23.66 5.278-17.9 12.08v25.507h10.08v-10.44a5.04 5.04 0 0 1 5.04-5.04h6.36a5.04 5.04 0 0 1 5.04 5.04v4.38h-3.36v-4.38a1.68 1.68 0 0 0-1.68-1.68h-6.36a1.68 1.68 0 0 0-1.68 1.68v11.16a2.64 2.64 0 0 1-2.64 2.64H5.04a2.64 2.64 0 0 1-2.64-2.64v-26.61a2.64 2.64 0 0 1 1.163-2.188L22.437 2.05a2.16 2.16 0 0 1 2.382-.023L44.514 14.77a2.64 2.64 0 0 1 1.206 2.217v26.598a2.64 2.64 0 0 1-2.64 2.64H30.6v-3.36h11.76V17.379l-18.7-12.1Z" clip-rule="evenodd"></path><path fill="#FFCDCB" d="M32.4 44.545a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0ZM32.28 36.745a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0Z"></path></svg><!----><span data-v-67fe8f9c="">Home</span></div><div data-v-67fe8f9c="" class="tabbar__container-item" onclick="location.href=&#39;/CheckDes&#39;"><svg data-v-67fe8f9c="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class=""><circle cx="27" cy="24" r="18" fill="#FFFFFF4F4"></circle><path fill="#FFCDCB" fill-rule="evenodd" d="M10.512 5.2h26.975a4.8 4.8 0 0 1 4.796 4.6l.51 12.2h3.203L45.48 9.666A8 8 0 0 0 37.489 2H10.511A8 8 0 0 0 2.52 9.666l-1.17 28A8 8 0 0 0 9.34 46h29.317a8 8 0 0 0 7.993-8.334L46.331 30h-3.203l.326 7.8a4.8 4.8 0 0 1-4.796 5H9.341a4.8 4.8 0 0 1-4.795-5l1.17-28a4.8 4.8 0 0 1 4.796-4.6Z" clip-rule="evenodd"></path><path fill="#FFCDCB" fill-rule="evenodd" d="M13.92 16.64c.466 5.158 4.8 9.2 10.08 9.2 5.279 0 9.614-4.042 10.078-9.2h-3.522a6.621 6.621 0 0 1-13.113 0h-3.522Z" clip-rule="evenodd"></path><path fill="#FFCDCB" d="M34.092 16.65a1.75 1.75 0 0 1-1.75 1.75c-.967 0-1.795-.784-1.795-1.75 0-.967.828-1.75 1.795-1.75.966 0 1.75.783 1.75 1.75ZM17.449 16.648c0 .966-.766 1.75-1.733 1.75-.966 0-1.795-.784-1.795-1.75 0-.967.829-1.75 1.795-1.75.967 0 1.733.783 1.733 1.75ZM46 22a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0ZM46.33 30.044a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0Z"></path></svg><!----><span data-v-67fe8f9c="">Activity</span></div><div data-v-67fe8f9c="" class="tabbar__container-item" onclick="location.href=&#39;/promotion&#39;"><svg data-v-67fe8f9c="" xmlns="http://www.w3.org/2000/svg" width="57" height="49" fill="none" viewBox="0 0 57 49" class=""><path fill="#FFFFFF" fill-rule="evenodd" d="M8.939 1.501A4 4 0 0 1 12.062 0h32.155a4 4 0 0 1 3.124 1.501l7.738 9.673c.427.533.749 1.12.968 1.735H.233a5.99 5.99 0 0 1 .967-1.735L8.94 1.501ZM0 16.091h56.28a5.985 5.985 0 0 1-1.277 2.673l-23.79 28.549a4 4 0 0 1-6.146 0l-23.79-28.55A5.984 5.984 0 0 1 0 16.092Zm20.556 5.936 7.195 10.102a.5.5 0 0 0 .816-.002l7.118-10.093a2.44 2.44 0 0 1 4.435 1.406v.2h-.223c-.326 0-.782.248-1.304.93-.506.663-6.466 8.724-9.651 13.035a.975.975 0 0 1-1.563.007L17.32 24.26s-.394-.62-1.06-.62h-.14v-.195a2.445 2.445 0 0 1 4.436-1.418Z" clip-rule="evenodd"></path></svg><div data-v-67fe8f9c="" class="promotionBg"></div><span data-v-67fe8f9c="">Promotion</span></div><div data-v-67fe8f9c="" class="tabbar__container-item" onclick="location.href=&#39;/wallet&#39;"><svg data-v-67fe8f9c="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class="wallet"><circle cx="28" cy="24" r="18" fill="#FFFFFF4F4"></circle><path stroke="#FFCDCB" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2" d="M3 23c0-5.984 3.526-10.164 9.008-10.868.56-.088 1.14-.132 1.742-.132h21.5c.559 0 1.096.022 1.612.11C42.41 12.77 46 16.972 46 23v11c0 6.6-4.3 11-10.75 11h-21.5C7.3 45 3 40.6 3 34v-2.178"></path><path stroke="#FFCDCB" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2" d="M46 23.724h-6.452c-2.366 0-4.301 1.862-4.301 4.138S37.182 32 39.548 32H46m-9-20c-.516-.083-1.194 0-1.753 0H14c-.602 0-1.44-.083-2 0 0 0 .731-.648 1.247-1.145l6.99-6.745A7.737 7.737 0 0 1 25.571 2c1.997 0 3.914.758 5.333 2.11l3.764 3.662C36.045 9.076 39.548 12 37 12Z"></path></svg><!----><span data-v-67fe8f9c="">Wallet</span></div><div data-v-67fe8f9c="" class="tabbar__container-item" onclick="location.href=&#39;/mian&#39;"><svg data-v-67fe8f9c="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class=""><circle cx="28" cy="24" r="18" fill="#FFFFFF4F4"></circle>
  <path fill="#FFCDCB" fill-rule="evenodd" d="M24.08 5.28C13.741 5.28 5.36 13.661 5.36 24c0 10.339 8.381 18.72 18.72 18.72 10.339 0 18.72-8.381 18.72-18.72v-8.76h3.36V24c0 12.194-9.886 22.08-22.08 22.08C11.886 46.08 2 36.194 2 24 2 11.806 11.886 1.92 24.08 1.92h20.28v3.36H24.08Z" clip-rule="evenodd"></path><path fill="#FFCDCB" d="M46.16 3.6a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0ZM46.16 15.12a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0Z"></path><path fill="#FFCDCB" fill-rule="evenodd" d="M15.806 29.582a1.68 1.68 0 0 1 2.372.144c1.15 1.298 2.748 2.794 5.462 2.794 2.872 0 4.857-1.428 5.805-2.533a1.68 1.68 0 0 1 2.55 2.186c-1.451 1.695-4.314 3.707-8.355 3.707-4.198 0-6.647-2.424-7.977-3.926a1.68 1.68 0 0 1 .143-2.372Z" clip-rule="evenodd"></path>
</svg>

<!----><span data-v-67fe8f9c="">Account</span></div></div><!---->
<foreignobject></foreignobject>
<div class="customer" id="customerId" style="--36a344b0: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif; --17a7a9f6: bahnschrift;">
<img class="" onclick="window.location.href=&#39;/keFuMenu#/&#39;;" src="./91club_files/icon_sevice-9f0c8455.png"></div>


 <script src="./91club_files/jquery-3.6.0.min.js.download"></script>
   <script>






        // function moveLastItemToBeginning() {
        //     var container = $('#main_container');
        //     var lastItem = container.find('.luckyWinners__container-wrapper__item:last');


        //     var clonedItem = lastItem.clone();

        //     // container.prepend(clonedItem);

        //     lastItem.fadeOut(300, function() {
        //         // Remove last item from the container after fade out is complete
        //         lastItem.remove();
        //     });
        // }

        var CloseDialog = (id) => {

            if(id == 'deposit_bonus'){
                $('.van-overlay').remove()
            }
            $('#'+id).remove()
        }
        // setInterval(moveLastItemToBeginning, 2000);
        function moveLastItemToBeginningAndScroll() {
            var container = $('#main_container');
            var lastItem = container.find('.luckyWinners__container-wrapper__item:last');
            var clonedItem = lastItem.clone();
            clonedItem.hide()

            lastItem.remove();
            container.prepend(clonedItem);
            clonedItem.slideDown(300);

        }

        // Call the function every 1 second
        setInterval(moveLastItemToBeginningAndScroll, 2000);


    </script>

<script>
        $(document).ready(function () {
            // Select the overlay element
            $('.van-overlay').fadeIn(10);
        });
        $(window).on('load', function () {
            // Select the overlay element
            $('.van-overlay').fadeIn(10);
            setTimeout(function () {
                $('.van-overlay').fadeOut(300);
            }, 10);
        });





        $(document).ready(function () {
            // Select the overlay element
            $('.van-overlay').fadeIn(10);
        });
        $(window).on('load', function () {
            // Select the overlay element
            $('.van-overlay').fadeIn(10);
            setTimeout(function () {
                $('.van-overlay').fadeOut(300);
            }, 600);
        });

        // Get the draggable element
    var draggableElement = document.getElementById('customerId');

    // Variables to store mouse position
    var offsetX = 0;
    var offsetY = 0;

    // Function to handle touch start event
    function handleTouchStart(e) {
        offsetX = e.touches[0].clientX - draggableElement.getBoundingClientRect().left;
        offsetY = e.touches[0].clientY - draggableElement.getBoundingClientRect().top;
    }

    // Function to handle touch move event
    function handleTouchMove(e) {
        e.preventDefault();
        var x = e.touches[0].clientX - offsetX;
        var y = e.touches[0].clientY - offsetY;

        // Update the position of the draggable element
        draggableElement.style.left = x + 'px';
        draggableElement.style.top = y + 'px';
    }

    // Add event listeners for touch events
    draggableElement.addEventListener('touchstart', handleTouchStart, false);
    draggableElement.addEventListener('touchmove', handleTouchMove, false);


var index = 0;
var item = document.getElementsByClassName('van-sidebar-item');

function currentButton(n) {
    showActive(index = n);
}
      
function showActive(n) {
    for(var i = 0; i < item.length; i++) {
        item[i].className = item[i].className.replace('van-sidebar-item--select', '');
    }
    item[n].className += ' van-sidebar-item--select';
}




function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();



            async function openGameById(gameId) {
              try {

                window.location.href = `/jili/game_link?game_id=${gameId}`

                // document.querySelector(".loader_popup").classList.add("display")

                // const response = await axios({
                //   method: "GET",
                //   url: `/jili/game_link?game_id=${gameId}`,
                //   withCredentials: true
                // })

                // const gameLink = response.data.gameLink;

                // window.location.href = gameLink

                // document.querySelector(".loader_popup").classList.remove("display")
              } catch (error) {
                console.log(error)
              }
            }
</script>

<script>
                $(document).ready(function() {
            changeTab(null, 'lottery')

            setTimeout(() => {
                $('#preloader-overlay').fadeOut(300)
            }, 500);

            // $('.other_img').click(function (e) {
            //     console.log(e);
            //     // showAlert()
            // });


        });

        var showAlert = () => {
            $('.comming_soon').fadeIn(300)
            $('.comming_soon').css('display', 'flex')
            setTimeout(() => {
                $('.comming_soon').fadeOut(500)
            }, 2000);
        }
          </script>

          <script>
$(document).ready(function(){
    // Select the div element you want to hide
    var divToHide = $('#preloader-overlay');

    // Set a timeout to hide the div after 5 seconds (5000 milliseconds)
    setTimeout(function(){
        divToHide.hide();
    }, 1000);
});
</script>

</body></html>
