
<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>One Step Lottery</title>
  <!--<script src="/js/block.js"></script>-->
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">

    <link rel="stylesheet" href="/assets/css/index-f3f1dfe8.css">
        <link rel="stylesheet" href="/assets/css/modules-b642e9bc.css">
        <link rel="stylesheet" href="/assets/css/page-activity-4fe5c6bf.css">
        <link rel="stylesheet" href="/assets/css/index-2c2fee84.css">
        <link rel="stylesheet" href="/assets/css/modules-5dd73da0.css">
        <link rel="stylesheet" href="/assets/css/page-home-482c7bbf.css"/>
        <link rel="stylesheet" href="/assets/css/page-home-522c97b9.css">
        <link rel="stylesheet" href="/assets/css/page-login-49518e3f.css">


  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css">

  <link rel="stylesheet" href="/assets/css/modules-8b01ca49.css">
  <link rel="stylesheet" href="/assets/css/page-activity-9da3f4e3.css">
  <link rel="stylesheet" href="/assets/css/page-home-482c7bbf.css">
  <link rel="stylesheet" href="/assets/css/index-8560823f.css">
  <link rel="stylesheet" href="/assets/css/reset-910da13b.css">

  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #090909;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }

    .d-none {
      display: none !important;
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-03b808c2="" class="mian game">
      <div data-v-106b99c8="" data-v-03b808c2="" class="K3__C">
        <div data-v-19888208="" class="navbar-fixed wc"
            style="background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);">
            <div data-v-19888208="" class="navbar__content">
            <div data-v-19888208="" class="navbar__content-left" onclick="history.back()">
                <div data-v-40958d9a="" class="arrow-left"></div>
            </div>
            <div data-v-19888208="" class="navbar__content-center">
                <div data-v-19888208="" class="headLogo"
                style="background-image: url('/images2/logo2.png');">
                </div>
                <div data-v-19888208="" class="navbar__content-title"></div>
            </div>
            <div data-v-19888208="" class="navbar__content-right">
                <div data-v-40958d9a="" class="WinGo__C-head-more">
                <div data-v-40958d9a="" onclick="location.href = '/keFuMenu'"></div>
                <div data-v-40958d9a="" class=""></div>
                </div>
            </div>
            </div>
        </div>
      </div>
      <div data-v-03b808c2="" class="game-head">

        <div data-v-a3fd9a0b="" data-v-87e7fdff="" class="Wallet__C" style="margin-bottom: 10px;">
            <div data-v-0ba2cf96="" class="Wallet__C-balance">
                <div data-v-0ba2cf96="" class="Wallet__C-balance-l1 reload_money num">
                <div data-v-0ba2cf96="" class="moneyU">Rs Loading...</div>
                </div>
                <div data-v-0ba2cf96="" class="Wallet__C-balance-l2">
                <div data-v-0ba2cf96="">Wallet balance</div>
                </div>
                <div data-v-0ba2cf96="" class="Wallet__C-balance-l3">
                <div data-v-0ba2cf96="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
                <div data-v-0ba2cf96="" onclick="location.href='/wallet/recharge'">Deposit</div>
                </div>
            </div>
        </div>

        <div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container" style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
            <!---->
            <div data-v-b3a5ca79="" class="noticeBar__container-body">
            <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Hello, withdrawals typically take 1-2 hours to process. We appreciate your patience and request that you wait for the status success before attempting to access your bank or e-wallet. Happy gaming!</div>
            </div>
            <button data-v-b3a5ca79="">Detail</button>
        </div>
    </div>


<style>
  @charset "UTF-8";[data-v-a3fd9a0b]:root {
    --van-picker-background: #22275B;
    --van-picker-option-text-color: #000000;
    --van-border-color: rgba(55, 73, 146, .5);
    --van-picker-mask-color: linear-gradient(180deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4)), linear-gradient(0deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4));
    --van-text-color: #000000;
    --van-popup-background: var(--van-picker-background);
    --van-dialog-background: var(--van-picker-background);
    --van-dialog-has-title-message-text-color: #000000
}

.van-toast[data-v-a3fd9a0b] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-a3fd9a0b] {
    box-shadow: 0 .05333rem #e04846;
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-a3fd9a0b] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-a3fd9a0b] {
    height: 80%
}

.Wallet__C[data-v-a3fd9a0b] {
padding-top: .43rem;
    position: relative
}


.Wallet__C-balance[data-v-a3fd9a0b] {
   min-height: 3.57333rem;
    background-color: var(--bg_color_L3);
    background-image: url(/assets/png/walletbg-5eabb579.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .53333rem;
    padding: .46667rem .54667rem .4rem;
    position: relative;
    z-index: 0;
}

.Wallet__C-balance-l1[data-v-a3fd9a0b] {
    min-height: .58667rem;
    line-height: .58667rem;
    text-align: center;
    font-weight: 700;
    font-size: .48rem;
    color: #000000;
    overflow: hidden

}

.Wallet__C-balance-l1>div[data-v-a3fd9a0b] {
    position: relative;
    word-break: break-all;
    pointer-events: none;
    width: -webkit-fit-content;
    width: fit-content
}

.Wallet__C-balance-l1>div[data-v-a3fd9a0b]:after {
    content: "";
    display: block;
    position: absolute;
    right: -.53333rem;
    top: 0;
    width: .56rem;
    height: .56rem;
    background-image: url(/assets/svg/refireshIcon-67fac8ca.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: .56rem;
    pointer-events: auto
}

.Wallet__C-balance-l2[data-v-a3fd9a0b] {
    height: .64rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .18667rem;
    font-size: .34667rem;
    color: #000000;
    margin-bottom: .13333rem
}

.Wallet__C-balance-l2>div[data-v-a3fd9a0b] {
    padding-left:98px;
    background-image: url(/assets/svg/wallet-6d53ac8d.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: .53333rem
    text-align: center;
}

.Wallet__C-balance-l3[data-v-a3fd9a0b] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: .46667rem
}

.Wallet__C-balance-l3>div[data-v-a3fd9a0b] {
      width: 3.46667rem;
    height: .93333rem;
    line-height: .93333rem;
    background: var(--norm_red-color);
    border-radius: .53333rem;
    font-weight: 600;
    font-size: .4rem;
    color: #000000;
    text-align: center;
}

.Wallet__C-balance-l3>div+div[data-v-a3fd9a0b] {
  background: var(--norm_green-color);
}



[data-v-0d716c34]:root {
    --van-picker-background: #22275B;
    --van-picker-option-text-color: #000000;
    --van-border-color: rgba(55, 73, 146, .5);
    --van-picker-mask-color: linear-gradient(180deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4)), linear-gradient(0deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4));
    --van-text-color: #000000;
    --van-popup-background: var(--van-picker-background);
    --van-dialog-background: var(--van-picker-background);
    --van-dialog-has-title-message-text-color: #000000
}

.van-toast[data-v-0d716c34] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-0d716c34] {
    box-shadow: 0 .05333rem #e04846;
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-0d716c34] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-0d716c34] {
    height: 80%
}

.GameList__C[data-v-0d716c34] {
    height: 2.4rem;
    width: calc(100% - .69333rem);
    background: #2B3270;
    border-radius: .26667rem;
    position: relative;
    margin: .34667rem auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.GameList__C-item[data-v-0d716c34] {
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 2;
    text-align: center
}

.GameList__C-item>div[data-v-0d716c34] {
    height: 100%;
    line-height: .4rem;
    font-size: .32rem;
    margin: auto;
    color: #759fde;
    padding-top: 1.44rem;
    background-image: url(/assets/svg/time-6839a93e.svg);
    background-size: 1.17333rem;
    background-position: center .18667rem;
    background-repeat: no-repeat
}

.GameList__C-item.active[data-v-0d716c34] {
    background: -webkit-linear-gradient(297deg,#d8d8d8 5.33%,#d8d8d8 93.42%);
    background: linear-gradient(153deg,#d8d8d8 5.33%,#d8d8d8 93.42%);
    box-shadow: 0 -.05333rem .16rem #92a7ff inset;
    border-radius: .26667rem
}

.GameList__C-item.active>div[data-v-0d716c34] {
    color: #000000;
    background-image: url(/assets/svg/time_a-71e5876a.svg)
}

[data-v-73484f00]:root {
    --van-picker-background: #22275B;
    --van-picker-option-text-color: #000000;
    --van-border-color: rgba(55, 73, 146, .5);
    --van-picker-mask-color: linear-gradient(180deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4)), linear-gradient(0deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4));
    --van-text-color: #000000;
    --van-popup-background: var(--van-picker-background);
    --van-dialog-background: var(--van-picker-background);
    --van-dialog-has-title-message-text-color: #000000
}

.van-toast[data-v-73484f00] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-73484f00] {
    box-shadow: 0 .05333rem #e04846;
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-73484f00] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-73484f00] {
    height: 80%
}

.TimeLeft__C-PreSale[data-v-73484f00] {
    width: 7.04rem;
    background-color: #22275b
}

.TimeLeft__C-PreSale-head[data-v-73484f00] {
    height: 1.2rem;
    line-height: 1.2rem;
    color: #000000;
    font-size: .4rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/assets/png/PreSaleBg-6b500601.png)
}

.TimeLeft__C-PreSale-body[data-v-73484f00] {
    max-height: 8rem;
    overflow-y: auto;
    padding: .4rem;
    font-size: .32rem;
    line-height: .8rem;
    color: #000000
}

.TimeLeft__C-PreSale-body[data-v-73484f00] p {
    margin-bottom: .2rem;
    line-height: .53333rem;
    color: #000000;
    word-break: break-all
}

.TimeLeft__C-PreSale-foot[data-v-73484f00] {
    height: 1.86667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.TimeLeft__C-PreSale-foot-btn[data-v-73484f00] {
    width: 60%;
    background: #3C9CF6;
    border-radius: .53333rem;
    height: .93333rem;
    line-height: .93333rem;
    text-align: center;
    font-size: .37333rem;
    color: #000000
}

[data-v-3fb5628c]:root {
    --van-picker-background: #22275B;
    --van-picker-option-text-color: #000000;
    --van-border-color: rgba(55, 73, 146, .5);
    --van-picker-mask-color: linear-gradient(180deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4)), linear-gradient(0deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4));
    --van-text-color: #000000;
    --van-popup-background: var(--van-picker-background);
    --van-dialog-background: var(--van-picker-background);
    --van-dialog-has-title-message-text-color: #000000
}

.van-toast[data-v-3fb5628c] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-3fb5628c] {
    box-shadow: 0 .05333rem #e04846;
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-3fb5628c] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-3fb5628c] {
    height: 80%
}

.RecordNav__C[data-v-3fb5628c] {
    width: calc(100% - .69333rem);
    height: .96rem;
    line-height: .96rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: .32rem auto 0
}

.RecordNav__C>div[data-v-3fb5628c] {
    width: calc((100% - .50667rem) / 3);
    height: 100%;
    background: #323A7C;
    border-radius: .21333rem;
    font-size: .37333rem;
    color: #000000;
    text-align: center;
    overflow: hidden
}

.RecordNav__C>div.active[data-v-3fb5628c] {
    background: -webkit-linear-gradient(top,#2AAAF3 0%,#2979F2 100%);
    background: linear-gradient(180deg,#2AAAF3 0%,#2979F2 100%);
    font-weight: 600
}

[data-v-6bdb75d8]:root {
    --van-picker-background: #22275B;
    --van-picker-option-text-color: #000000;
    --van-border-color: rgba(55, 73, 146, .5);
    --van-picker-mask-color: linear-gradient(180deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4)), linear-gradient(0deg, rgba(34, 39, 91, .9), rgba(34, 39, 91, .4));
    --van-text-color: #000000;
    --van-popup-background: var(--van-picker-background);
    --van-dialog-background: var(--van-picker-background);
    --van-dialog-has-title-message-text-color: #000000
}

.van-toast[data-v-6bdb75d8] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-6bdb75d8] {
    box-shadow: 0 .05333rem #e04846;
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-6bdb75d8] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-6bdb75d8] {
    height: 80%
}

.noticeBar__container[data-v-6bdb75d8] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: .98667rem;
    padding-inline:.26667rem;color: #000000;
    font-size: .32rem;
    border-radius: 99rem;
    background: #2B3270
}

.noticeBar__container-body[data-v-6bdb75d8] {
    width: 9.33333rem;
    overflow: hidden;
    position: relative;
    height: .8rem;
    line-height: .98667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: .13333rem
}

.noticeBar__container-body-text[data-v-6bdb75d8] {
    width: 100%;
    height: -webkit-fit-content;
    height: fit-content;
    max-height: .98667rem;
    line-height: .49333rem;
    -webkit-animation: marquee-6bdb75d8 7s linear infinite;
    animation: marquee-6bdb75d8 7s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: column;
    -webkit-justify-content: column;
    justify-content: column;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all
}

@-webkit-keyframes marquee-6bdb75d8 {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes marquee-6bdb75d8 {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.noticeBar__container>svg[data-v-6bdb75d8] {
    width: .42667rem;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: auto;
    margin-right: .22667rem
}

.noticeBar__container button[data-v-6bdb75d8] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    gap: .06667rem;
    width: 2rem;
    height: .66667rem;
    margin-left: auto;
    color: #000000;
    border: none;
    border-radius: .53333rem;
    background: -webkit-linear-gradient(bottom,#f54545 20.19%,#fe6868 100%);
    background: linear-gradient(360deg,#f54545 20.19%,#fe6868 100%)
}

.noticeBar__container button svg[data-v-6bdb75d8] {
    width: .32rem;
    height: auto
}

.K3TL__C[data-v-03b808c2] {
    width: calc(100% - .69333rem);
    margin: .34667rem auto 0;
    background-color: var(--bg_color_L2);
    padding: .42667rem .29333rem .45333rem;
    border-radius: .26667rem .26667rem 0 0;
}

.K3TL__C-time[data-v-03b808c2] {
    height: .8rem;
    line-height: .8rem;
    bottom: .29333rem;
    right: .32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
}

</style>




        <div data-v-03b808c2="" class="game-betting">
            <div data-v-03b808c2="" class="tab">
                <div data-v-03b808c2="" class="box c-row game-minutes">
                    <div data="1" data-v-03b808c2="" class="item c-tc action">

                        <div data="1" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                            <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px;">
                                <img src="/images/icon_clock-red.png" class="van-image__img">
                            </div>
                            <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px; display: none;">
                                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img">
                            </div>

                        </div>
                        <div data="1" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>1Min</div>
                    </div>
                    <div data="3" data-v-03b808c2="" class="item c-tc">

                        <div data="3" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                            <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                                <img src="/images/icon_clock-red.png" class="van-image__img">
                            </div>
                            <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img">
                            </div>

                        </div>
                        <div data="3" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>3Min</div>
                    </div>
                    <div data="5" data-v-03b808c2="" class="item c-tc">

                        <div data="5" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                            <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                                <img src="/images/icon_clock-red.png" class="van-image__img">
                            </div>
                            <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img">
                            </div>

                        </div>
                        <div data="5" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>5Min</div>
                    </div>
                    <div data="10" data-v-03b808c2="" class="item c-tc">

                        <div data="10" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                            <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                                <img src="/images/icon_clock-red.png" class="van-image__img">
                            </div>
                            <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img">
                            </div>

                        </div>
                        <div data="10" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>10Min</div>
                    </div>
                </div>
            </div>
            <div data-v-03b808c2="" class="content K3TL__C">
                <div data-v-03b808c2="" class="page-box" style="margin-top: 14px;">
                    <div data-v-72d1481f="" class="K3TL__C-l1">
                        <div data-v-72d1481f="" class="left">
                            <div data-v-72d1481f="">Period</div>
                            <div data-v-72d1481f="" class="K3TL__C-rule">How to play</div>
                        </div>
                        <div data-v-72d1481f="">Time remaining</div>
                    </div>
                    <div data-v-03b808c2="" class="flex-row-between flex-center period-span " style="padding-top: 8px;">
                        <span data-v-03b808c2=""
                            id="period" style="font-size: 20px;"></span>
                        <div data-v-03b808c2=""  class="flex-row-end K3TL__C-time">
                            <div data-v-03b808c2="" class="li-item">0</div>
                            <div data-v-03b808c2="" class="li-item">0</div>
                            <span data-v-03b808c2="" class="li-symbol">:</span>
                            <div data-v-03b808c2="" class="li-item">4</div>
                            <div data-v-03b808c2="" class="li-item">4</div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" style="text-align: center;">
                    <div data-v-03b808c2="" class="slot-inner">
                        <div data-v-03b808c2="" class="d5-slot-box">
                            <div data-v-03b808c2="" class="slot-column">
                            <div data-v-03b808c2="" class="slot-transform">
                                <div data-v-03b808c2="" class="slot-num bg5"></div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="slot-column">
                            <div data-v-03b808c2="" class="slot-transform">
                                <div data-v-03b808c2="" class="slot-num bg6"></div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="slot-column">
                            <div data-v-03b808c2="" class="slot-transform">
                                <div data-v-03b808c2="" class="slot-num bg1"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="bet-box">
                    <div data-v-03b808c2="" class="bet-mark">
                        <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                            <span data-v-03b808c2="" class="item m-r-20">0</span>
                            <span data-v-03b808c2="" class="item m-l-20">0</span>
                        </div>
                        <br>
                        <div data-v-03b808c2="" class="bet-tab K3B__C-nav">
                            <ul data-v-03b808c2="" class="c-row c-row-between">
                            <li data-v-03b808c2="" game="1" class="item action block-click">Total</li>
                            <li data-v-03b808c2="" game="2" class=" item">2 Same</li>
                            <li data-v-03b808c2="" game="3" class=" item">3 Same</li>
                            <li data-v-03b808c2="" game="4" class=" item">Different</li>
                            </ul>
                        </div>
                        <div data-v-03b808c2="" game="1" class="bet-con">
                            <div data-v-01cf71e0="" data-v-67c1f5a3="" class="K3B__C-bettingList list-join-total"
                            numlist="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"
                            numtow="" numone="" numchack="false">

                            <div data-v-01cf71e0="" class="bet_btn num item num3">
                                <div data-v-03b808c2="" class="li" data="3" data-join="3">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num3">3</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">207.36X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num4" data="4" data-join="4">
                                <div data-v-03b808c2="" class="li" data="4" data-join="4">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num4">4</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">69.12X </div>
                                </div>
                            </div>

                            <div data-v-01cf71e0="" class="bet_btn num item num5" data="5" data-join="5">
                                <div data-v-03b808c2="" class="li" data-join="5">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num5">5</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">34.56X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num6" data="6" data-join="6">
                                <div data-v-03b808c2="" class="li" data-join="6">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num6">6</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">20.74X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num7" data="7" data-join="7">
                                <div data-v-03b808c2="" class="li" data-join="7">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num7">7</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">13.83X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num8" data="8" data-join="8">
                                <div data-v-03b808c2="" class="li" data-join="8">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num8">8</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">9.88X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num9" data="9" data-join="9">
                                <div data-v-03b808c2="" class="li" data-join="9">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num9">9</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">8.3X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num10" data="10" data-join="10">
                                <div data-v-03b808c2="" class="li" data-join="10">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num10">10</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">7.68X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num11" data="11" data-join="11">
                                <div data-v-03b808c2="" class="li" data-join="11">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num11">11</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">7.68X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num12" data="12" data-join="12">
                                <div data-v-03b808c2="" class="li" data-join="12">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num12">12</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">8.3X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num13" data="13" data-join="13">
                                <div data-v-03b808c2="" class="li" data-join="13">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num13">13</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">9.88X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num14" data="14" data-join="14">
                                <div data-v-03b808c2="" class="li" data-join="14">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num14">14</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">13.83X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num15" data="15" data-join="15">
                                <div data-v-03b808c2="" class="li" data-join="15">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num15">15</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">20.74X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num16" data="16" data-join="16">
                                <div data-v-03b808c2="" class="li" data-join="16">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num16">16</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">34.56X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num17" data="17" data-join="17">
                                <div data-v-03b808c2="" class="li" data-join="17">
                                    <div data-v-01cf71e0="" class="ball rball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num17">17</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">69.12X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item num18" data="18" data-join="18">
                                <div data-v-03b808c2="" class="li" data-join="18">
                                    <div data-v-01cf71e0="" class="ball gball">
                                        <div data-v-01cf71e0="" class="K3B__C-odds-bet num18">18</div>
                                    </div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">207.36X </div>
                                </div>
                            </div>

                            <div data-v-01cf71e0="" class="bet_btn num item numA" data="b" data-join="Big">
                                <div data-v-03b808c2="" class="li" data="b" data-join="Big">
                                    <div data-v-01cf71e0="" class="">Big</div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item numB" data="s" data-join="Small">
                                <div data-v-03b808c2="" class="li" data="s" data-join="Small">
                                    <div data-v-01cf71e0="" class="">Small</div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item numC" data="l" data-join="lẻ">
                                <div data-v-03b808c2="" class="li" data="l" data-join="Odd">
                                    <div data-v-01cf71e0="" class="">Odd</div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
                                </div>
                            </div>
                            <div data-v-01cf71e0="" class="bet_btn num item numD" data="c" data-join="chẵn">
                                <div data-v-03b808c2="" class="li" data="c" data-join="Even">
                                    <div data-v-01cf71e0="" class="">Even</div>
                                    <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                            <div data-v-03b808c2="" class="title">Choose 2 suitable numbers：Odds <span
                            data-v-03b808c2="">13.83</span></div>
                            <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" game="2_1" data="11" class="item">
                                <!---->
                                <div data-v-03b808c2="">11</div>
                            </div>
                            <div data-v-03b808c2="" game="2_1" data="22" class="item">
                                <!---->
                                <div data-v-03b808c2="">22</div>
                            </div>
                            <div data-v-03b808c2="" game="2_1" data="33" class="item">
                                <!---->
                                <div data-v-03b808c2="">33</div>
                            </div>
                            <div data-v-03b808c2="" game="2_1" data="44" class="item">
                                <!---->
                                <div data-v-03b808c2="">44</div>
                            </div>
                            <div data-v-03b808c2="" game="2_1" data="55" class="item">
                                <!---->
                                <div data-v-03b808c2="">55</div>
                            </div>
                            <div data-v-03b808c2="" game="2_1" data="66" class="item">
                                <!---->
                                <div data-v-03b808c2="">66</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will win the
                            prize. (Except for three identical numbers).
                            </div>
                            <div data-v-03b808c2="" class="title">Choose a unique pair of numbers：Odds <span
                            data-v-03b808c2="">69.12</span></div>
                            <div data-v-03b808c2="" hang="1" data="Select 1 unique pair"
                            class="num-box red c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">11</div>
                            </div>
                            <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">22</div>
                            </div>
                            <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">33</div>
                            </div>
                            <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">44</div>
                            </div>
                            <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">55</div>
                            </div>
                            <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">66</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat"
                            class="num-box green c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">1</div>
                            </div>
                            <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">2</div>
                            </div>
                            <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">3</div>
                            </div>
                            <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">4</div>
                            </div>
                            <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">5</div>
                            </div>
                            <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
                                <!---->
                                <div data-v-03b808c2="">6</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different number
                            to place a bet. If the lottery result matches the numbers you bet, you will win the prize.
                            </div>
                        </div>
                        <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                            <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span
                            data-v-03b808c2="">207.36</span></div>
                            <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" data="111" class="item">
                                <!---->
                                <div data-v-03b808c2="">111</div>
                            </div>
                            <div data-v-03b808c2="" data="222" class="item">
                                <!---->
                                <div data-v-03b808c2="">222</div>
                            </div>
                            <div data-v-03b808c2="" data="333" class="item">
                                <!---->
                                <div data-v-03b808c2="">333</div>
                            </div>
                            <div data-v-03b808c2="" data="444" class="item">
                                <!---->
                                <div data-v-03b808c2="">444</div>
                            </div>
                            <div data-v-03b808c2="" data="555" class="item">
                                <!---->
                                <div data-v-03b808c2="">555</div>
                            </div>
                            <div data-v-03b808c2="" data="666" class="item">
                                <!---->
                                <div data-v-03b808c2="">666</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you will win
                            the prize.
                            </div>
                            <div data-v-03b808c2="" class="title">Choose 3 identical numbers: Odds <span
                            data-v-03b808c2="">34.56</span></div>
                            <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" class="li">
                                <!---->
                                <div data-v-03b808c2="">Choose 3 identical numbers</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you will
                            win the prize.
                            </div>
                        </div>
                        <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                            <div data-v-03b808c2="" class="title">Choose 3 different numbers: Odds<span
                            data-v-03b808c2="">34.56</span></div>
                            <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" data="1" class="item">
                                <!---->
                                <div data-v-03b808c2="">1</div>
                            </div>
                            <div data-v-03b808c2="" data="2" class="item">
                                <!---->
                                <div data-v-03b808c2="">2</div>
                            </div>
                            <div data-v-03b808c2="" data="3" class="item">
                                <!---->
                                <div data-v-03b808c2="">3</div>
                            </div>
                            <div data-v-03b808c2="" data="4" class="item">
                                <!---->
                                <div data-v-03b808c2="">4</div>
                            </div>
                            <div data-v-03b808c2="" data="5" class="item">
                                <!---->
                                <div data-v-03b808c2="">5</div>
                            </div>
                            <div data-v-03b808c2="" data="6" class="item">
                                <!---->
                                <div data-v-03b808c2="">6</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the lottery result
                            are different and match the numbers you've chosen, then you win the prize.
                            </div>
                            <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers: Odds <span
                            data-v-03b808c2="">8.64</span></div>
                            <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" class="li">
                                <!---->
                                <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers, then you
                            win the prize.
                            </div>
                            <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span
                            data-v-03b808c2="">6.91</span></div>
                            <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                            <div data-v-03b808c2="" data="1" class="item">
                                <!---->
                                <div data-v-03b808c2="">1</div>
                            </div>
                            <div data-v-03b808c2="" data="2" class="item">
                                <!---->
                                <div data-v-03b808c2="">2</div>
                            </div>
                            <div data-v-03b808c2="" data="3" class="item">
                                <!---->
                                <div data-v-03b808c2="">3</div>
                            </div>
                            <div data-v-03b808c2="" data="4" class="item">
                                <!---->
                                <div data-v-03b808c2="">4</div>
                            </div>
                            <div data-v-03b808c2="" data="5" class="item">
                                <!---->
                                <div data-v-03b808c2="">5</div>
                            </div>
                            <div data-v-03b808c2="" data="6" class="item">
                                <!---->
                                <div data-v-03b808c2="">6</div>
                            </div>
                            </div>
                            <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery result are
                            different and match the numbers you've chosen, then you win the prize.
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>


<style>
.game[data-v-03b808c2] {
    background-color: #d8d8d8;
}


.game-betting .tab[data-v-03b808c2] {
    margin: 0 0.4rem;
    background-color: #f2f2f2;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.21333rem 0.02667rem rgba(187, 191, 205, 0.3);
}

    .game-betting .tab .box .item .txt[data-v-03b808c2] {
   color: #768096;
   font-size: .29rem !important;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {
   flex: 0 0 25%;
   padding: .15rem .13333rem .15667rem !important;
   border-radius: .3rem;
   position: relative;
   background: #f2f2f2;
   }

   .game-betting .tab .box .item .img[data-v-03b808c2] {
   position: relative;
   display: contents;
   }

   .game-betting .tab .box .item.c-tc.action {
   background: -webkit-linear-gradient(180deg, #f95959 0%, #ff9a8e 100%);
   background: linear-gradient(180deg, #f95959 0%, #ff9a8e 100%);
   box-shadow: 0 -.05333rem .16rem #000000 inset !important;
   border-radius: .26667rem;
   color: white !important;
   }

   .game-betting .tab .box .item.action .txt[data-v-03b808c2]{
    color: white !important;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {


   box-shadow: 0 -.05333rem .16rem #00000000 inset !important;
   border-radius: .26667rem;
}



.van-notice-bar {
   margin: 0rem !important;
   width: auto !important;
}

.game-betting .tab .box[data-v-03b808c2]:after {

    display: none;

}
</style>          <div data-v-03b808c2="" class="game-list p-b-20">
    <div data-v-03b808c2="" class="tab c-row c-row-between">
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt action block-click" id="history"> Game History </span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" id="myBet"> My Bet</span>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box" style="
    width: calc(100% - 0.69333rem);
    margin: 0.48rem auto 0;
    text-align: center;
    font-size: .32rem;
    ">
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="wrap header-history">
                <div data-v-03b808c2="" style="color:white;!important" class="c-tc van-row">
                    <div data-v-03b808c2="" class="van-col van-col--4"> Period</div>
                    <div data-v-03b808c2="" class="van-col van-col--4">  </div>
                    <div data-v-03b808c2="" class="van-col van-col--6">  Big/Small</div><!--Big/Small-->
                    <div data-v-03b808c2="" class="van-col van-col--5">  Odd/Even</div><!--Odd/Even-->
                    <div data-v-03b808c2="" class="van-col van-col--5">  Dice</div>
                </div>
            </div>
            <div data-v-03b808c2="">
                <div data-v-03b808c2="" class="hb" id="list_order">
                    <!---->
                </div>
                <div data-v-03b808c2="" class="hb" id="list_mybet">
                    <!---->
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>
        <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc">
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center block-click" id="previous">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px;"></i>
            </div>
            <div data-v-03b808c2="" class="number" id="number_result" data-select="all">1/1</div>
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center action" id="next">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow icon action" style="font-size: 20px;"></i>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box p-b-20" style="display: none;">
        <div data-v-03b808c2="" class="c-row c-flew-end p-r-20">
            <div data-v-03b808c2="" class="bettingMore c-tc c-row c-row-middle-center">
                Hơn
                <i data-v-03b808c2="" class="van-icon van-icon-arrow" style="color: rgb(5 116 255); font-size: 15px;"></i>
            </div>
        </div>
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="p-t-5 p-b-5">
                <div data-v-03b808c2="" class="van-empty">
                    <div class="van-empty__image"><img src="/images/empty-image-default.png"></div>
                    <p class="van-empty__description">No data</p>
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>

    </div>
</div>            <div data-v-03b808c2="" class="van-popup van-popup--round van-popup--bottom pop-total"
    style="max-width: 10rem; left: auto; box-shadow: rgba(63, 69, 83, 0.3) 0px -10px 20px 0px; z-index: 2004;transform: translateY(400px);transition: transform .5s,-webkit-transform .5s;"
    >
    <div data-v-03b808c2="" class="betting-mark">
        <div data-v-03b808c2="" class="info">
            <div data-v-03b808c2="" class="Bet-box">
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle list-join-ao" style="color: #000000">
                    <span data-v-03b808c2="" game="1">Sum：</span>
                    <span data-v-03b808c2="" game="2_1" class="d-none">Choose 2 suitable numbers：</span>
                    <span data-v-03b808c2="" game="3" class="d-none">Choose 3 unique numbers：</span>
                    <span data-v-03b808c2="" game="4" class="d-none">Choose 3 different numbers：</span>
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="2_2">
                    <!----->
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="4">
                    <span data-v-03b808c2="">Choose 2 different numbers：</span>
                </ul>
                <div data-v-03b808c2="" class="actionBtn d-none">Choose 3 identical numbers</div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Amount</div>
                <div data-v-03b808c2="" class="c-row amount-box">
                    <div data-v-03b808c2="" value="1" class="li action">1</div>
                    <div data-v-03b808c2="" value="10" class="li">10</div>
                    <div data-v-03b808c2="" value="100" class="li">100</div>
                    <div data-v-03b808c2="" value="1000" class="li">1000</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Quantity</div>
                <div data-v-03b808c2="" class="c-row c-row-between stepper-box minus-plus">
                    <div data-v-03b808c2="" class="li minus">-</div>
                    <div data-v-03b808c2="" class="digit-box van-cell van-field">
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="tel" value="1" oninput="value=value.replace(/\D/g,'')" inputmode="numeric" class="van-field__control xvalue">
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="li plus c-row c-row-middle-center action">+</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-flew-end">
                <div data-v-03b808c2="" class="c-row multiple-box">
                    <div data-v-03b808c2="" value="1" class="li action">X1</div>
                    <div data-v-03b808c2="" value="5" class="li">X5</div>
                    <div data-v-03b808c2="" value="10" class="li">X10</div>
                    <div data-v-03b808c2="" value="20" class="li">X20</div>
                    <div data-v-03b808c2="" value="50" class="li">X50</div>
                    <div data-v-03b808c2="" value="100" class="li">X100</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-middle">
                <div data-v-03b808c2="" role="checkbox" tabindex="0" aria-checked="true" class="van-checkbox">
                    <div class="van-checkbox__icon van-checkbox__icon--square van-checkbox__icon--checked">
                        <i
                            class="van-icon van-icon-success"
                            style="border-color: rgb(13 165 255); background-color: rgb(13 165 255);">
                        </i>
                    </div>
                    <span class="van-checkbox__label">
                        <div data-v-03b808c2="" class="agree p-r-15">I agree</div>
                    </span>
                </div><span data-v-03b808c2="" class="txt txt-qu-ytac">Pre-Selling Rules</span>
            </div>
        </div>
        <div data-v-03b808c2="" class="foot c-row">
            <div data-v-03b808c2="" class="left canned"> Cancel </div>
            <div data-v-03b808c2="" class="right c-row c-row-middle-center confirm">
                <span data-v-03b808c2="" class="p-r-5">Total Amount</span>
                <span data-v-03b808c2="" value="" class="result">1</span>
                <span class="info-bet" xvalue="1" money="1"></span>
            </div>
        </div>
    </div>
</div>              <div class="van-overlay" style="z-index: 2001;display: none;"></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2002;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"><div data-v-03b808c2=""><div data-v-03b808c2=""><p class="MsoNormal"><font face="宋体">In each Fast 3 lottery draw, there will be three numbers randomly drawn from 111 to 666, excluding the number 0. The drawn numbers are not in any specific order. Fast 3 is a game where you can guess all or part of the three winning numbers.</font></p><p class="MsoNormal"><font face="宋体">Total bet</font></p><p class="MsoNormal"><font face="宋体">Bet on the total sum of 3 dice</font></p><p class="MsoNormal"><font face="宋体">Bet on the entire set of 3 (numbers/dice/etc.)</font></p><p class="MsoNormal"><font face="宋体">The players place a bet on a group of identical triples, such as: (111, 222, ..., 666), covering all possible triples, and proceed with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on a single triple set</font></p><p class="MsoNormal"><font face="宋体">The player chooses one of all possible triple sets (111, ..., 666) and proceeds with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on two numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three numbers, including two specified pairs and one random number</font></p><p class="MsoNormal"><font face="宋体">Bet on two pairs + 1 single number</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three specified numbers, including two pairs and one other number.</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three completely different numbers</font></p><p class="MsoNormal"><font face="宋体">Bet on 2 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on 2 different numbers + 1 other number combined in one betting ticket</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 consecutive numbers</font></p><p class="MsoNormal"><font face="宋体">Betting is placed on the consecutive numbers [123, 234, 345, 456].<br></font><br></p></div></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div></div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">Rules</span></span></div></button></div></div></div></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac-buy" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2016;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Pre-selling rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"> To protect the legitimate rights and interests of users participating in pre-selling and maintain the normal operation of pre-selling activities, the rules are established in accordance with relevant agreements and regulations of the law, as well as national provisions.

Chapter 1: Definitions
1.1 Pre-selling definition: Refers to the sales model in which the seller provides a product or service package to collect orders from consumers through pre-selling tools and delivers the goods or services to the buyer according to pre-agreed terms.
1.2 Pre-selling model is the "Consignment" model. The term "Consignment" refers to a fixed amount of pre-sold goods that are predetermined. "Consignment" can participate in small games and has the opportunity to gain more profits. The consigned amount can be directly exchanged for goods, but the consigned money cannot be used for exchange.
1.3 Pre-selling products: These are products provided by the seller using pre-selling tools. Only products labeled as pre-selling on the title or product detail page are considered pre-selling products. Other products that do not use pre-selling tools are not pre-selling products.
1.4 Pre-selling system: Refers to the system of pre-selling tools provided to support sales according to the pre-selling model.
1.5 Pre-selling price of goods: The price of the goods before the sale. The pre-selling price of goods includes two parts: the selling price and the payment. </div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">I know</span></span></div></button></div></div></div></div>

<div data-v-7692a079="" data-v-806b9f0e="" class="Loading c-row c-row-middle-center" style="">
    <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="-webkit-animation-duration: 1s; animation-duration: 1s;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                    <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/index_files/loadingspinner.png"></image>
                </g>
                <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                    <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/h5setting_202308141709544lm1.png"></image>
                </g>
            </svg>
        </span>
    </div>
</div>    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="/k3/js/main.js"></script>
  <script src="/k3/js/chuck.js"></script>
</body>

</html>
