<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statisticals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body class="dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('nav') %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Demo Account</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">


                        <!-- =========================================================== -->
                        <!-- <h5 class="mb-2">Info Box</h5> -->


                        <div class="row info-box">
                            <div class="form-group" style="width: 100%;">
                                <div class="text-center">
                                    <label for="telegram">Create a Demo Account</label>
                                </div>
                                <label for="username" style="color: #3498db;">Account</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Account Number" value=""><br>
                                <label for="password" style="color: #3498db;">Account Number</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter Password" value=""><br>
                                <button type="submit" class="btn btn-danger create_ctv" style="width: 100%;">Create</button>
                            </div>
                        </div>




                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->


                <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/admin/admin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script>

        $('.create_ctv').click(function (e) {
            e.preventDefault();
            let username = $('#username').val().trim();
            let password = $('#password').val().trim();
            if (username && password) {
                $.ajax({
                    type: "POST",
                    url: "/admin/manager/create/ctv",
                    data: {
                        username: username,
                        password: password,
                        isDemo: 1,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                icon: 'success',
                                title: `${response.message}`,
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: `${response.message}`,
                            })
                        }
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Please enter complete information',
                })
            }
        });
    </script>
</body>

</html>
