.mian[data-v-8c7eba72] {
  background-color: #ffffff;
}

.mian .box[data-v-8c7eba72] {
  padding: 0.4rem;
}

.mian .box .list[data-v-8c7eba72] {
  /*background:#fff;*/
  border-radius: 0.4rem;
  overflow: hidden;
}

.mian .box .list .item[data-v-8c7eba72] {
  padding: 0.32rem 0.4rem;
  background: #2aaaf3;
}

.mian .box .list .item .money[data-v-8c7eba72] {
  color: #000;
  font-size: 0.45333rem;
}

.mian .box .list .item .state[data-v-8c7eba72] {
  text-align: center;
}
