<div data-v-7dd1adab="" data-v-40958d9a="" class="Wallet__C">
   <div data-v-7dd1adab="" class="Wallet__C-balance">
      <div class="Wallet__C-balance-row" style="display: flex;justify-content: center;">
         <div class="Wallet__C-balance-item">
            <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
               <div data-v-7dd1adab="" id="balance_amount">₹ Loading...</div>
            </div>
            <div style="justify-content: center;align-items: center;" data-v-7dd1adab="" class="Wallet__C-balance-l2">
               <div data-v-7dd1adab="">Main Wallet </div>
            </div>
         </div>
         <!-- <div class="Wallet__C-balance-item">
            <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
               <div data-v-7dd1adab="" id="bonus_balance_amount">₹ Loading...</div>
            </div>
            <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
               <div data-v-7dd1adab="">Bonus Wallet</div>
            </div>
         </div> -->
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
         <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
         <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'">Deposit</div>
      </div>
   </div>
</div>

<style>
   .Wallet__C-balance-row {
      display: flex;

      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
   }

   .Wallet__C-balance-l1>div[data-v-7dd1adab]:after {
      display: none;
   }
</style>

<div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container"
   style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
   <!---->
   <div data-v-b3a5ca79="" class="noticeBar__container-body">
      <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Notice: To visit our official website, be sure to use the link below, https://1015game.com
/ Please
                    remember! Make sure not to provide personal data and personal transactions in any form and for any
                    reason to other parties on behalf of Al Dubai Games. Our side does not make private chats or calls to
                    all
                    members. Please inform all Referrals/other Members about this to avoid fraud. Thank you for your
                    attention and cooperation.
                </div>
   </div>
   <button style="padding: 14px 12px !important; color: white;" data-v-b3a5ca79="">Detail</button>
</div>
